@font-face {
  font-family: 'Lato-Regular';
  src: url("../fonts/Lato-Regular/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Regular/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular/Lato-Regular.ttf") format("truetype"), url("../fonts/Lato-Regular/Lato-Regular.svg#Lato-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Lato-Heavy';
  src: url("../fonts/Lato-Heavy/Lato-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Heavy/Lato-Heavy.woff") format("woff"), url("../fonts/Lato-Heavy/Lato-Heavy.ttf") format("truetype"), url("../fonts/Lato-Heavy/Lato-Heavy.svg#Lato-Heavy") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Lato-Italic';
  src: url("../fonts/Lato-Italic/Lato-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Italic/Lato-Italic.woff") format("woff"), url("../fonts/Lato-Italic/Lato-Italic.ttf") format("truetype"), url("../fonts/Lato-Italic/Lato-Italic.svg#Lato-Italic") format("svg");
  font-weight: normal;
  font-style: normal; }
.ff-regular {
  font-family: "Lato-Regular", Arial; }

.ff-heavy {
  font-family: "Lato-Heavy", Arial; }

.ff-italic {
  font-family: "Lato-Italic", Arial; }

.cl-blue {
  color: #281E78; }

.fs-25 {
  font-size: 25px; }

.left_to_right {
  opacity: 0;
  -webkit-transform: translateX(-40px);
  -moz-transform: translateX(-40px);
  -ms-transform: translateX(-40px);
  -o-transform: translateX(-40px);
  transform: translateX(-40px);
  -webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -ms-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out; }
  .left_to_right.show {
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none; }

.right_to_left {
  opacity: 0;
  -webkit-transform: translateX(40px);
  -moz-transform: translateX(40px);
  -ms-transform: translateX(40px);
  -o-transform: translateX(40px);
  transform: translateX(40px);
  -webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -ms-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out; }
  .right_to_left.show {
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none; }

.bottom_to_top {
  opacity: 0;
  -webkit-transform: translateY(40px);
  -moz-transform: translateY(40px);
  -ms-transform: translateY(40px);
  -o-transform: translateY(40px);
  transform: translateY(40px);
  -webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -ms-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out; }
  .bottom_to_top.show {
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none; }

.top_to_bottom {
  opacity: 0;
  -webkit-transform: translateY(-40px);
  -moz-transform: translateY(-40px);
  -ms-transform: translateY(-40px);
  -o-transform: translateY(-40px);
  transform: translateY(-40px);
  -webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -ms-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out; }
  .top_to_bottom.show {
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none; }

.parallax_item.parallax_act {
  position: fixed;
  top: 0; }

html {
  overflow-x: hidden !important; }

body {
  font-size: 13px;
  font-family: "Lato-Regular", Arial;
  overflow-x: hidden !important; }
  body a {
    text-decoration: none;
    outline: none;
    color: #00000085;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }
    body a:hover {
      text-decoration: none; }
    body a.see_more {
      color: #281E78;
      font-family: "Lato-Heavy", Arial;
      font-size: 15px;
      line-height: 15px;
      margin: 30px 0;
      display: inline-block;
      position: relative;
      z-index: 1; }
      body a.see_more:before {
        position: absolute;
        content: "";
        background-color: #FFE3D4;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        top: 50%;
        left: 0;
        z-index: -1;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        pointer-events: none; }
      body a.see_more:hover:before {
        left: 100%; }
  body button:focus {
    box-shadow: none;
    outline: none; }
  body strong,
  body b, body em {
    font-family: "Lato-Heavy", Arial; }
  body h1, body h2, body h3, body h4, body h5 {
    font-family: "Lato-Heavy", Arial; }
  body .form-control {
    background-color: transparent;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid #4A4A4A;
    margin-bottom: 15px;
    resize: none;
    font-size: 13px;
    padding-left: 0;
    padding-right: 0; }
    body .form-control:focus {
      background-color: transparent;
      box-shadow: none;
      outline: none;
      border-color: #281E78; }
  body select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(../images/dropdown.png) no-repeat right center/10px auto; }
  body select::-ms-expand {
    display: none; }
  body .wrapper_submit {
    display: inline-block;
    color: #281E78;
    font-family: "Lato-Heavy", Arial;
    font-size: 15px;
    line-height: 15px;
    margin: 30px 0;
    position: relative;
    z-index: 1; }
    body .wrapper_submit .submit_button {
      font-family: "Lato-Heavy", Arial;
      color: #281E78;
      background-color: transparent;
      border: 0; }
    body .wrapper_submit:before {
      position: absolute;
      content: "";
      background-color: #FFE3D4;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      top: 50%;
      left: 0;
      z-index: -1;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
      pointer-events: none; }
    body .wrapper_submit:hover:before {
      left: 100%; }

#header_site {
  background-color: #ffffff; }
  #header_site .navbar {
    padding-left: 0;
    padding-right: 0; }
    #header_site .navbar img {
      max-width: 50px;
      max-height: 50px; }
    #header_site .navbar a {
      color: #00000085; }
      #header_site .navbar a.navbar-brand {
        margin-right: 30px;
        z-index: 1;
        position: relative; }
    #header_site .navbar .navbar-nav li {
      position: relative; }
      #header_site .navbar .navbar-nav li a {
        margin-right: 30px; }
        #header_site .navbar .navbar-nav li a img {
          max-height: 15px; }
      #header_site .navbar .navbar-nav li:last-child a {
        margin-right: 0; }
      #header_site .navbar .navbar-nav li .sub-menu {
        position: absolute;
        top: calc(100% + 30px);
        top: -webkit-calc(100% + 30px);
        top: -moz-calc(100% + 30px);
        list-style: none;
        padding-left: 0;
        background-color: #FFFFFF;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        visibility: hidden;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        opacity: 0; }
        #header_site .navbar .navbar-nav li .sub-menu li {
          margin: 0; }
          #header_site .navbar .navbar-nav li .sub-menu li a {
            padding: .5rem 3rem;
            display: block;
            margin: 0;
            white-space: nowrap;
            border-bottom: 1px solid #f2f2f2;
            text-align: center; }
      #header_site .navbar .navbar-nav li:hover .sub-menu {
        top: 100%;
        visibility: visible;
        opacity: 1; }
    #header_site .navbar .navbar-nav:not(.form-inline) li a {
      position: relative; }
      #header_site .navbar .navbar-nav:not(.form-inline) li a:before {
        position: absolute;
        content: "";
        width: 5px;
        height: 5px;
        background-color: #000000;
        border-radius: 50%;
        bottom: -3px;
        left: 0;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        opacity: 0; }
      #header_site .navbar .navbar-nav:not(.form-inline) li a:hover {
        color: #000000; }
        #header_site .navbar .navbar-nav:not(.form-inline) li a:hover:before {
          opacity: 1;
          left: 50%;
          -webkit-transform: translateX(-50%);
          -moz-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          -o-transform: translateX(-50%);
          transform: translateX(-50%); }
    #header_site .navbar .navbar-nav:not(.form-inline) li.active a {
      font-family: "Lato-Heavy", Arial;
      color: #000000; }
      #header_site .navbar .navbar-nav:not(.form-inline) li.active a:before {
        opacity: 1;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%); }
    #header_site .navbar .navbar-nav.form-inline li a {
      font-size: 9px; }
      #header_site .navbar .navbar-nav.form-inline li a i {
        font-size: 14px; }
  #header_site .menu_mobile {
    position: absolute;
    list-style: none;
    top: 25px;
    right: 60px;
    padding-left: 0; }
    #header_site .menu_mobile li {
      display: inline-block;
      text-align: center;
      margin-right: 15px; }
      #header_site .menu_mobile li img {
        max-height: 20px;
        display: block;
        margin: 0 auto; }
      #header_site .menu_mobile li a {
        color: #000000;
        font-size: 11px; }
      #header_site .menu_mobile li i {
        font-size: 30px; }
  @media (max-width: 767px) {
    #header_site .navbar-toggler {
      border: 0;
      border-radius: 0; }
      #header_site .navbar-toggler img {
        max-width: 30px;
        margin-top: 5px; }
    #header_site .navbar a {
      font-size: 17px;
      padding-top: 15px; }
    #header_site .navbar .navbar-nav:not(.form-inline) li a {
      text-align: center;
      margin-right: 0; }
      #header_site .navbar .navbar-nav:not(.form-inline) li a:before {
        left: 50%; }
    #header_site .navbar .navbar-nav:not(.form-inline) li.social {
      text-align: center; }
      #header_site .navbar .navbar-nav:not(.form-inline) li.social a {
        width: 30px;
        display: inline-block; }
        #header_site .navbar .navbar-nav:not(.form-inline) li.social a:before {
          display: none; }
        #header_site .navbar .navbar-nav:not(.form-inline) li.social a svg {
          width: 18px;
          max-height: 18px; }
    #header_site .form-inline {
      display: none; } }

#menu_sidebar {
  position: fixed;
  left: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%); }
  #menu_sidebar ul {
    list-style: none;
    padding-left: 0; }
    #menu_sidebar ul li {
      text-align: center;
      margin: 10px 0; }
      #menu_sidebar ul li svg {
        width: 18px;
        max-height: 18px;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease; }
      #menu_sidebar ul li a:hover svg {
        -webkit-transform: rotateY(360deg);
        -moz-transform: rotateY(360deg);
        -ms-transform: rotateY(360deg);
        -o-transform: rotateY(360deg);
        transform: rotateY(360deg); }
      #menu_sidebar ul li a:hover #fb_icon path {
        fill: #3b5998; }
      #menu_sidebar ul li a:hover #ins_icon path {
        fill: #3f729b; }
      #menu_sidebar ul li a:hover #yb_icon path {
        fill: #c4302b; }
  @media (max-width: 767px) {
    #menu_sidebar {
      display: none; } }

#menu_lang {
  position: fixed;
  bottom: 15px;
  left: 15px; }
  #menu_lang ul {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0; }
    #menu_lang ul li {
      display: inline-block;
      margin-right: 15px; }
      #menu_lang ul li a {
        color: #00000085; }
        #menu_lang ul li a:hover {
          color: #281E78; }
      #menu_lang ul li.active a {
        font-family: "Lato-Heavy", Arial;
        color: #281E78; }

.section.bg-green {
  background: #F1F8F2; }
.section .title {
  color: #281E78;
  font-size: 40px;
  line-height: 45px;
  position: relative; }
.section .description {
  font-size: 16px;
  padding-left: 30px;
  color: #000000;
  position: relative; }
  .section .description:before {
    position: absolute;
    content: "";
    width: 20px;
    top: 10px;
    left: 0;
    background-color: #000000;
    height: 1px; }
.section.bg_green {
  background: #D1E9D550; }
.section .img_fullheight {
  position: relative;
  text-align: right;
  pointer-events: none; }
  .section .img_fullheight img {
    max-width: 60%; }
.section .content_middle {
  position: absolute;
  top: 50%;
  width: 100%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1; }
.section .content_speacial {
  padding-left: 30px;
  font-size: 17px;
  color: #000000;
  position: relative; }
  .section .content_speacial:before {
    position: absolute;
    content: "";
    width: 20px;
    top: 10px;
    left: 0;
    background-color: #000000;
    height: 1px; }
.section .item_port {
  background-color: #ffffff;
  height: 100%;
  text-align: center;
  padding: 1rem; }
  .section .item_port .icon_port {
    margin-bottom: 15px; }
    .section .item_port .icon_port img {
      max-width: 100px;
      max-height: 70px; }
  .section .item_port .port_title {
    color: #281E78;
    font-family: "Lato-Heavy", Arial;
    font-size: 15px;
    margin-bottom: 20px; }
.section .content_abs {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 22;
  color: #281E78; }
  .section .content_abs .content {
    color: #4A4A4A; }
.section .img_bg {
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  position: absolute;
  text-align: right; }
  .section .img_bg img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .section .img_bg.w-60 img {
    width: 55%; }
.section .slider_img .slick-slide:focus {
  box-shadow: none;
  outline: none; }
.section .slider_img .item:not(.slick-center) img {
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8); }
.section .slider_img .item img {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
.section .slider_img .prev_offer {
  position: absolute;
  top: 50%;
  right: 100%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
  margin-right: 10px;
  z-index: 2; }
  .section .slider_img .prev_offer img {
    max-width: 40px; }
  .section .slider_img .prev_offer .arrow {
    position: relative; }
    .section .slider_img .prev_offer .arrow:before {
      position: absolute;
      content: "";
      width: 30px;
      height: 30px;
      border: 1px solid #00000060;
      border-radius: 50%;
      top: -5px;
      right: 0;
      opacity: 0;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
      pointer-events: none; }
  .section .slider_img .prev_offer:hover .arrow:before {
    right: 100%;
    opacity: 1;
    -webkit-transform: translateX(70%);
    -moz-transform: translateX(70%);
    -ms-transform: translateX(70%);
    -o-transform: translateX(70%);
    transform: translateX(70%); }
.section .slider_img .next_offer {
  position: absolute;
  top: 50%;
  left: 100%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
  margin-right: 10px;
  z-index: 2; }
  .section .slider_img .next_offer img {
    max-width: 40px; }
  .section .slider_img .next_offer .arrow {
    position: relative; }
    .section .slider_img .next_offer .arrow:before {
      position: absolute;
      content: "";
      width: 30px;
      height: 30px;
      border: 1px solid #00000060;
      border-radius: 50%;
      top: -5px;
      left: 0;
      opacity: 0;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
      pointer-events: none; }
  .section .slider_img .next_offer:hover .arrow:before {
    left: 100%;
    opacity: 1;
    -webkit-transform: translateX(-70%);
    -moz-transform: translateX(-70%);
    -ms-transform: translateX(-70%);
    -o-transform: translateX(-70%);
    transform: translateX(-70%); }
.section .slider_img .slick-dots {
  bottom: 10px; }
  .section .slider_img .slick-dots li {
    width: 10px;
    height: 10px; }
    .section .slider_img .slick-dots li button {
      width: 10px;
      height: 10px; }
      .section .slider_img .slick-dots li button:before {
        width: 10px;
        height: 10px;
        content: "";
        background-color: #00000085;
        border-radius: 50%; }
.section .slider_description .slick-slide:focus {
  box-shadow: none;
  outline: none; }
.section .slider_skill .item {
  position: relative; }
  .section .slider_skill .item img {
    height: 100vh;
    width: auto; }
  .section .slider_skill .item .meta_info {
    position: absolute;
    right: 0;
    top: 25%;
    width: 50%;
    background: #3E553C;
    color: #ffffff;
    padding: 30px; }
    .section .slider_skill .item .meta_info .number {
      font-size: 90px;
      font-family: "Lato-Heavy", Arial;
      line-height: 90px;
      margin-bottom: 20px; }
    .section .slider_skill .item .meta_info .title_slider {
      font-family: "Lato-Heavy", Arial;
      font-size: 16px;
      margin-bottom: 20px; }
.section .slider_skill .prev_offer {
  position: absolute;
  top: 20%;
  right: 60px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
  margin-right: 10px;
  z-index: 2; }
  .section .slider_skill .prev_offer img {
    max-width: 40px; }
  .section .slider_skill .prev_offer .arrow {
    position: relative; }
    .section .slider_skill .prev_offer .arrow:before {
      position: absolute;
      content: "";
      width: 30px;
      height: 30px;
      border: 1px solid #00000060;
      border-radius: 50%;
      top: -5px;
      right: 0;
      opacity: 0;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
      pointer-events: none; }
  .section .slider_skill .prev_offer:hover .arrow:before {
    right: 100%;
    opacity: 1;
    -webkit-transform: translateX(70%);
    -moz-transform: translateX(70%);
    -ms-transform: translateX(70%);
    -o-transform: translateX(70%);
    transform: translateX(70%); }
.section .slider_skill .next_offer {
  position: absolute;
  top: 20%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
  margin-right: 10px;
  z-index: 2; }
  .section .slider_skill .next_offer img {
    max-width: 40px; }
  .section .slider_skill .next_offer .arrow {
    position: relative; }
    .section .slider_skill .next_offer .arrow:before {
      position: absolute;
      content: "";
      width: 30px;
      height: 30px;
      border: 1px solid #00000060;
      border-radius: 50%;
      top: -5px;
      left: 0;
      opacity: 0;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
      pointer-events: none; }
  .section .slider_skill .next_offer:hover .arrow:before {
    left: 100%;
    opacity: 1;
    -webkit-transform: translateX(-70%);
    -moz-transform: translateX(-70%);
    -ms-transform: translateX(-70%);
    -o-transform: translateX(-70%);
    transform: translateX(-70%); }
.section .slider_skill .slick-dots {
  left: 100%;
  bottom: 50px;
  padding-left: 30px;
  width: auto; }
  .section .slider_skill .slick-dots li button {
    color: #281E78;
    font-size: 15px; }
    .section .slider_skill .slick-dots li button:before {
      width: 0;
      height: 1px;
      background: #281E78;
      top: 50%;
      left: -20px;
      content: "";
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease; }
  .section .slider_skill .slick-dots li.slick-active button {
    font-family: "Lato-Heavy", Arial; }
    .section .slider_skill .slick-dots li.slick-active button:before {
      width: 20px; }
.section .bottom_slider {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 30%; }
.section .content_bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%; }
.section .content_top {
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%; }
.section #v-enroll-tab .nav-link {
  font-size: 16px;
  color: #000000;
  padding-left: 50px;
  position: relative; }
  .section #v-enroll-tab .nav-link:before {
    position: absolute;
    content: '';
    width: 0;
    height: 1px;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    background: #000000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }
  .section #v-enroll-tab .nav-link.active {
    font-family: "Lato-Heavy", Arial; }
    .section #v-enroll-tab .nav-link.active:before {
      width: 30px; }
.section #v-enroll-tabContent table {
  text-align: center;
  border-collapse: separate;
  border-spacing: 1px; }
  .section #v-enroll-tabContent table thead {
    background: #ffffff;
    color: #281E78;
    font-family: "Lato-Heavy", Arial;
    white-space: nowrap; }
    .section #v-enroll-tabContent table thead tr th {
      border-bottom-width: 1px; }
    .section #v-enroll-tabContent table thead tr td {
      border-bottom-width: 1px; }
  .section #v-enroll-tabContent table tbody {
    background: #DCDCDC; }
    .section #v-enroll-tabContent table tbody tr th {
      color: #281E78;
      font-family: "Lato-Heavy", Arial; }
    .section #v-enroll-tabContent table tbody tr td:last-child {
      color: #ff0000;
      font-family: "Lato-Heavy", Arial; }
.section #v-enroll-tabContent .content_promotion {
  background: #ffffff;
  padding: 2rem;
  max-height: 50vh; }
  .section #v-enroll-tabContent .content_promotion h4 {
    color: #281E78;
    font-family: "Lato-Heavy", Arial;
    font-size: 13px; }
.section .item_post_featured {
  position: relative; }
  .section .item_post_featured figure {
    position: relative; }
    .section .item_post_featured figure .tag {
      position: absolute;
      top: 15px;
      left: 0;
      background: #FFE3D4;
      padding: 2px 10px;
      font-size: 13px;
      font-family: "Lato-Heavy", Arial; }
      .section .item_post_featured figure .tag.news {
        background: #D1E9D5; }
  .section .item_post_featured .meta_info {
    position: absolute;
    top: 70%;
    width: 85%;
    right: 0;
    background: #ffffff;
    padding: 30px; }
  .section .item_post_featured .date_post {
    margin-bottom: 10px; }
  .section .item_post_featured h3 {
    font-size: 15px;
    text-transform: uppercase;
    line-height: 20px; }
    .section .item_post_featured h3 a {
      color: #281E78; }
.section .item_post {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #000000; }
  .section .item_post:last-child {
    border-bottom: 0; }
  .section .item_post figure {
    position: relative; }
    .section .item_post figure .tag {
      position: absolute;
      top: 15px;
      left: 0;
      background: #FFE3D4;
      padding: 2px 10px;
      font-size: 13px;
      font-family: "Lato-Heavy", Arial; }
      .section .item_post figure .tag.news {
        background: #D1E9D5; }
  .section .item_post .date_post {
    margin-bottom: 10px; }
  .section .item_post h3 {
    font-size: 13px;
    text-transform: uppercase;
    line-height: 16px; }
    .section .item_post h3 a {
      color: #281E78; }
  .section .item_post .description_post {
    margin-bottom: 10px; }
.section .category_menu {
  margin-bottom: 30px; }
  .section .category_menu li a {
    padding-right: 30px;
    font-size: 16px;
    color: #000000;
    position: relative; }
    .section .category_menu li a:before {
      position: absolute;
      content: "";
      width: 0;
      height: 1px;
      background: #000000;
      left: -10px;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease; }
  .section .category_menu li:hover a, .section .category_menu li.active a {
    font-family: "Lato-Heavy", Arial;
    padding-left: 30px; }
    .section .category_menu li:hover a:before, .section .category_menu li.active a:before {
      width: 30px; }
.section #map {
  height: 100vh; }
  .section #map h4 {
    font-family: "Lato-Heavy", Arial;
    color: #281E78;
    font-size: 14px;
    text-transform: uppercase; }
  .section #map .gm-style .gm-style-iw-c {
    border-radius: 0; }
.section .area_location {
  max-height: 50vh;
  background: #ffffff;
  width: calc(100% + 100px);
  width: -webkit-calc(100% + 100px);
  width: -moz-calc(100% + 100px);
  padding: 30px;
  z-index: 1;
  position: relative; }
  .section .area_location p {
    margin-bottom: 5px; }
  .section .area_location .item_location {
    position: relative;
    border-bottom: 1px solid #D8D8D8;
    padding: 30px 0; }
    .section .area_location .item_location .map_title h4 {
      color: #281E78;
      font-size: 14px; }
    .section .area_location .item_location .see_more {
      position: absolute;
      right: 0;
      bottom: 5px; }
@media (max-width: 767px) {
  .section .title {
    font-size: 30px;
    line-height: 35px; }
  .section .content_abs {
    position: static;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    padding: 3rem 1rem; }
  .section .content_bottom {
    position: static;
    padding: 3rem 0 0; }
  .section .content_top {
    position: static;
    padding: 3rem 0 0; }
  .section .content_middle {
    position: static;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0); }
  .section .img_fullheight {
    margin-top: 3rem; }
    .section .img_fullheight img {
      max-width: 100%; }
  .section .content_speacial {
    margin-top: 3rem; }
  .section .img_wrapper {
    margin-bottom: 3rem; }
  .section .img_bg {
    height: 100%; }
    .section .img_bg.opt-50:before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.5); }
    .section .img_bg.w-60 {
      width: 100%;
      height: auto;
      position: static; }
      .section .img_bg.w-60 img {
        width: 100%;
        height: auto; }
    .section .img_bg img {
      height: 100%; }
  .section .item_port {
    margin: 0 30px 30px;
    height: auto; }
  .section .slider_img .item:not(.slick-center) img {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
  .section .slider_skill {
    margin-top: 30px; }
    .section .slider_skill .item img {
      width: 100%;
      height: auto; }
    .section .slider_skill .item .meta_info {
      position: static;
      width: 100%; }
      .section .slider_skill .item .meta_info .number {
        font-size: 30px;
        line-height: 35px; }
  .section .bottom_slider {
    width: 100%;
    position: static; }
  .section .item_post_featured {
    margin-bottom: 30px; }
    .section .item_post_featured .meta_info {
      position: static;
      width: 100%;
      padding: 0; }
  .section .item_post {
    border-bottom: 0; }
  .section .category_menu li {
    margin-bottom: 10px; }
  .section #map {
    height: 70vh; }
  .section .area_location {
    width: 100%;
    padding: 15px; } }

@media (max-width: 767px) {
  #section_first .content_middle {
    margin-top: 100px; }
  #section_first .content_top {
    margin-top: 100px;
    padding-top: 0; } }

.slider_banner {
  position: relative; }
  .slider_banner .slick-slide:focus {
    box-shadow: none;
    outline: none; }
  .slider_banner .item {
    width: 100%;
    height: 100vh;
    position: relative; }
    .slider_banner .item img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover; }
    .slider_banner .item:before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.3);
      left: 0;
      top: 0;
      z-index: 1; }
    .slider_banner .item .meta_info {
      position: absolute;
      width: 100%;
      top: 50%;
      left: 0;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      z-index: 22;
      color: #281E78; }
      .slider_banner .item .meta_info .title {
        font-size: 40px;
        line-height: 50px; }
        .slider_banner .item .meta_info .title strong {
          font-family: "Lato-Heavy", Arial; }
      .slider_banner .item .meta_info .description {
        font-size: 16px;
        width: 50%;
        padding-left: 30px;
        color: #000000;
        position: relative; }
        .slider_banner .item .meta_info .description:before {
          position: absolute;
          content: "";
          width: 20px;
          top: 10px;
          left: 0;
          background-color: #000000;
          height: 1px; }
  @media (max-width: 767px) {
    .slider_banner .item .meta_info .title {
      font-size: 30px;
      line-height: 35px; }
    .slider_banner .item .meta_info .description {
      width: 70%;
      font-size: 15px; }
    .slider_banner .item:before {
      background: rgba(255, 255, 255, 0.5); } }

.nav_slider .prev_slider {
  position: absolute;
  bottom: 15px;
  right: 70%;
  cursor: pointer;
  margin-right: 10px;
  z-index: 2; }
  .nav_slider .prev_slider img {
    max-width: 50px; }
  .nav_slider .prev_slider .arrow {
    position: relative; }
    .nav_slider .prev_slider .arrow:before {
      position: absolute;
      content: "";
      width: 30px;
      height: 30px;
      border: 1px solid #00000060;
      border-radius: 50%;
      top: -5px;
      right: 0;
      opacity: 0;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
      pointer-events: none; }
  .nav_slider .prev_slider:hover .arrow:before {
    right: 100%;
    opacity: 1;
    -webkit-transform: translateX(70%);
    -moz-transform: translateX(70%);
    -ms-transform: translateX(70%);
    -o-transform: translateX(70%);
    transform: translateX(70%); }
.nav_slider .next_slider {
  position: absolute;
  bottom: 15px;
  left: 30%;
  cursor: pointer;
  margin-left: 10px;
  z-index: 2; }
  .nav_slider .next_slider img {
    max-width: 50px; }
  .nav_slider .next_slider .arrow {
    position: relative; }
    .nav_slider .next_slider .arrow:before {
      position: absolute;
      content: "";
      width: 30px;
      height: 30px;
      border: 1px solid #00000060;
      border-radius: 50%;
      top: -5px;
      left: 0;
      opacity: 0;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
      pointer-events: none; }
  .nav_slider .next_slider:hover .arrow:before {
    left: 100%;
    opacity: 1;
    -webkit-transform: translateX(-70%);
    -moz-transform: translateX(-70%);
    -ms-transform: translateX(-70%);
    -o-transform: translateX(-70%);
    transform: translateX(-70%); }
@media (max-width: 767px) {
  .nav_slider .prev_slider {
    right: 30%; }
  .nav_slider .next_slider {
    left: 70%; } }

.row_custom {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .row_custom .col_md_50,
  .row_custom .col_50 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
    .row_custom .col_md_50 .img-60,
    .row_custom .col_50 .img-60 {
      height: 55vh;
      position: relative; }
      .row_custom .col_md_50 .img-60 img,
      .row_custom .col_50 .img-60 img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover; }
    .row_custom .col_md_50 .content-40,
    .row_custom .col_50 .content-40 {
      height: 45vh;
      display: flex;
      display: -webkit-flex;
      justify-content: center;
      flex-direction: column;
      padding: 3rem;
      position: relative;
      overflow: hidden; }
      .row_custom .col_md_50 .content-40 .title,
      .row_custom .col_50 .content-40 .title {
        font-family: "Lato-Heavy", Arial;
        font-size: 17px;
        margin-bottom: 20px;
        line-height: inherit;
        position: relative;
        z-index: 1;
        color: #00000085; }
      .row_custom .col_md_50 .content-40 .content,
      .row_custom .col_50 .content-40 .content {
        position: relative;
        z-index: 1; }
      .row_custom .col_md_50 .content-40.bg-pink,
      .row_custom .col_50 .content-40.bg-pink {
        background-color: #FFE3D4; }
        .row_custom .col_md_50 .content-40.bg-pink .number,
        .row_custom .col_50 .content-40.bg-pink .number {
          position: absolute;
          left: 0;
          bottom: 0;
          font-family: "Lato-Heavy", Arial;
          font-size: 150px;
          line-height: 150px;
          color: #E4002B15;
          -webkit-transform: translate(-10px, 20px);
          -moz-transform: translate(-10px, 20px);
          -ms-transform: translate(-10px, 20px);
          -o-transform: translate(-10px, 20px);
          transform: translate(-10px, 20px); }
      .row_custom .col_md_50 .content-40.bg-green,
      .row_custom .col_50 .content-40.bg-green {
        background-color: #D1E9D550; }
        .row_custom .col_md_50 .content-40.bg-green .number,
        .row_custom .col_50 .content-40.bg-green .number {
          position: absolute;
          left: 0;
          bottom: 0;
          font-family: "Lato-Heavy", Arial;
          font-size: 150px;
          line-height: 150px;
          color: #ffffff;
          -webkit-transform: translate(-10px, 20px);
          -moz-transform: translate(-10px, 20px);
          -ms-transform: translate(-10px, 20px);
          -o-transform: translate(-10px, 20px);
          transform: translate(-10px, 20px); }
  @media (max-width: 767px) {
    .row_custom .col_md_50 .img-60,
    .row_custom .col_50 .img-60 {
      height: 300px; }
    .row_custom .col_md_50 .content-40,
    .row_custom .col_50 .content-40 {
      height: 250px;
      padding: 1rem; }
      .row_custom .col_md_50 .content-40 .title,
      .row_custom .col_50 .content-40 .title {
        font-size: 14px; }
      .row_custom .col_md_50 .content-40 .content,
      .row_custom .col_50 .content-40 .content {
        font-size: 12px; }
    .row_custom .col_md_50 {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%; } }

.slider_about .slick-slide:focus {
  box-shadow: none;
  outline: none; }

.nav_about .prev_slider {
  position: absolute;
  bottom: 15px;
  right: 55%;
  cursor: pointer;
  margin-right: 10px;
  z-index: 2; }
  .nav_about .prev_slider img {
    max-width: 50px; }
  .nav_about .prev_slider .arrow {
    position: relative; }
    .nav_about .prev_slider .arrow:before {
      position: absolute;
      content: "";
      width: 30px;
      height: 30px;
      border: 1px solid #00000060;
      border-radius: 50%;
      top: -5px;
      right: 0;
      opacity: 0;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
      pointer-events: none; }
  .nav_about .prev_slider:hover .arrow:before {
    right: 100%;
    opacity: 1;
    -webkit-transform: translateX(70%);
    -moz-transform: translateX(70%);
    -ms-transform: translateX(70%);
    -o-transform: translateX(70%);
    transform: translateX(70%); }
.nav_about .next_slider {
  position: absolute;
  bottom: 15px;
  left: 45%;
  cursor: pointer;
  margin-left: 10px;
  z-index: 2; }
  .nav_about .next_slider img {
    max-width: 50px; }
  .nav_about .next_slider .arrow {
    position: relative; }
    .nav_about .next_slider .arrow:before {
      position: absolute;
      content: "";
      width: 30px;
      height: 30px;
      border: 1px solid #00000060;
      border-radius: 50%;
      top: -5px;
      left: 0;
      opacity: 0;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
      pointer-events: none; }
  .nav_about .next_slider:hover .arrow:before {
    left: 100%;
    opacity: 1;
    -webkit-transform: translateX(-70%);
    -moz-transform: translateX(-70%);
    -ms-transform: translateX(-70%);
    -o-transform: translateX(-70%);
    transform: translateX(-70%); }
@media (max-width: 767px) {
  .nav_about .prev_slider {
    right: 30%; }
  .nav_about .next_slider {
    left: 70%; } }

.slider_value {
  width: 450px;
  height: 450px;
  margin: 0 auto;
  position: relative; }
  .slider_value .slick-slide:focus {
    box-shadow: none;
    outline: none; }
  .slider_value:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: #ffffff90;
    border-radius: 50%; }
  .slider_value .item {
    padding: 3rem;
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    height: 450px;
    justify-content: center;
    flex-direction: column;
    text-align: center; }
    .slider_value .item .content {
      color: #4A4A4A; }
  .slider_value .prev_value {
    position: absolute;
    bottom: 40px;
    right: 50%;
    cursor: pointer;
    margin-right: 5px;
    z-index: 2; }
    .slider_value .prev_value img {
      max-width: 40px; }
    .slider_value .prev_value .arrow {
      position: relative; }
      .slider_value .prev_value .arrow:before {
        position: absolute;
        content: "";
        width: 30px;
        height: 30px;
        border: 1px solid #00000060;
        border-radius: 50%;
        top: -5px;
        right: 0;
        opacity: 0;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        pointer-events: none; }
    .slider_value .prev_value:hover .arrow:before {
      right: 100%;
      opacity: 1;
      -webkit-transform: translateX(70%);
      -moz-transform: translateX(70%);
      -ms-transform: translateX(70%);
      -o-transform: translateX(70%);
      transform: translateX(70%); }
  .slider_value .next_value {
    position: absolute;
    bottom: 40px;
    left: 50%;
    cursor: pointer;
    margin-left: 5px;
    z-index: 2; }
    .slider_value .next_value img {
      max-width: 40px; }
    .slider_value .next_value .arrow {
      position: relative; }
      .slider_value .next_value .arrow:before {
        position: absolute;
        content: "";
        width: 30px;
        height: 30px;
        border: 1px solid #00000060;
        border-radius: 50%;
        top: -5px;
        left: 0;
        opacity: 0;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        pointer-events: none; }
    .slider_value .next_value:hover .arrow:before {
      left: 100%;
      opacity: 1;
      -webkit-transform: translateX(-70%);
      -moz-transform: translateX(-70%);
      -ms-transform: translateX(-70%);
      -o-transform: translateX(-70%);
      transform: translateX(-70%); }
  @media (max-width: 767px) {
    .slider_value {
      width: 300px;
      height: 300px; }
      .slider_value .item {
        height: 300px;
        padding: 1rem; }
        .slider_value .item .content {
          display: none; }
        .slider_value .item .description {
          font-size: 13px; }
        .slider_value .item .title {
          font-size: 20px; } }

.gallery_wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  grid-gap: 3px; }
  .gallery_wrapper .item_0 {
    grid-row: 2/3;
    grid-column: 1/2;
    position: relative;
    height: 25vh; }
    .gallery_wrapper .item_0 img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover; }
    .gallery_wrapper .item_0 .content {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      display: -webkit-flex;
      display: -ms-flexbox;
      flex-direction: column;
      justify-content: center;
      background-color: #D1E9D5;
      padding: 3rem; }
      .gallery_wrapper .item_0 .content .title {
        font-size: 17px;
        line-height: inherit;
        color: #000000;
        font-family: "Lato-Heavy", Arial; }
  .gallery_wrapper .item_1 {
    grid-row: 1/2;
    grid-column: 1/2;
    position: relative;
    height: 40vh; }
    .gallery_wrapper .item_1 img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .gallery_wrapper .item_2 {
    grid-row: 1/3;
    grid-column: 2/3;
    position: relative; }
    .gallery_wrapper .item_2 img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .gallery_wrapper .item_3 {
    grid-row: 1/2;
    grid-column: 3/5;
    position: relative;
    height: 40vh; }
    .gallery_wrapper .item_3 img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .gallery_wrapper .item_4 {
    grid-row: 2/3;
    grid-column: 4/5;
    position: relative;
    height: 25vh; }
    .gallery_wrapper .item_4 img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .gallery_wrapper .item_5 {
    grid-row: 2/3;
    grid-column: 3/4;
    position: relative;
    height: 25vh; }
    .gallery_wrapper .item_5 img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover; }
    .gallery_wrapper .item_5 .content {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      display: flex;
      padding: 2rem;
      background-color: #FFE3D4;
      flex-direction: column;
      justify-content: center; }
  @media (max-width: 767px) {
    .gallery_wrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: auto;
      grid-gap: 3px; }
      .gallery_wrapper .item_0 {
        grid-row: 2/3;
        grid-column: 2/3;
        position: relative;
        height: 200px; }
        .gallery_wrapper .item_0 .content {
          padding: 1rem; }
      .gallery_wrapper .item_1 {
        grid-row: 1/2;
        grid-column: 1/2;
        position: relative;
        height: 200px; }
      .gallery_wrapper .item_2 {
        grid-row: 1/2;
        grid-column: 2/3;
        position: relative;
        height: 200px; }
      .gallery_wrapper .item_3 {
        grid-row: 2/3;
        grid-column: 1/2;
        position: relative;
        height: 200px; }
      .gallery_wrapper .item_4 {
        grid-row: 3/4;
        grid-column: 2/3;
        position: relative;
        height: 200px; }
      .gallery_wrapper .item_5 {
        grid-row: 3/4;
        grid-column: 1/2;
        position: relative;
        height: 200px; }
        .gallery_wrapper .item_5 .content {
          padding: 1rem; } }

.slide_offer .slick-slide:focus {
  box-shadow: none;
  outline: none; }
.slide_offer .item {
  position: relative; }
  .slide_offer .item img {
    padding-right: 80px;
    padding-bottom: 50px; }
  .slide_offer .item figure {
    position: relative; }
    .slide_offer .item figure .tag {
      position: absolute;
      top: 15px;
      left: 0;
      background: #FFE3D4;
      padding: 2px 10px;
      font-size: 13px;
      font-family: "Lato-Heavy", Arial; }
      .slide_offer .item figure .tag.news {
        background: #D1E9D5; }
  .slide_offer .item .date_post {
    margin-bottom: 10px; }
  .slide_offer .item .meta_info {
    position: absolute;
    width: calc(100% - 50px);
    width: -webkit-calc(100% - 50px);
    width: -moz-calc(100% - 50px);
    right: 10px;
    background-color: #ffffff;
    padding: 30px;
    bottom: 0;
    min-height: 40%; }
    .slide_offer .item .meta_info .title {
      color: #4A4A4A;
      font-size: 16px;
      line-height: inherit;
      text-transform: uppercase;
      font-family: "Lato-Heavy", Arial; }
      .slide_offer .item .meta_info .title a {
        color: #281E78; }
    .slide_offer .item .meta_info .description_post {
      font-size: 12px; }
.slide_offer .prev_offer {
  position: absolute;
  top: 50%;
  right: 100%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
  margin-right: 10px;
  z-index: 2; }
  .slide_offer .prev_offer img {
    max-width: 40px; }
  .slide_offer .prev_offer .arrow {
    position: relative; }
    .slide_offer .prev_offer .arrow:before {
      position: absolute;
      content: "";
      width: 30px;
      height: 30px;
      border: 1px solid #00000060;
      border-radius: 50%;
      top: -5px;
      right: 0;
      opacity: 0;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
      pointer-events: none; }
  .slide_offer .prev_offer:hover .arrow:before {
    right: 100%;
    opacity: 1;
    -webkit-transform: translateX(70%);
    -moz-transform: translateX(70%);
    -ms-transform: translateX(70%);
    -o-transform: translateX(70%);
    transform: translateX(70%); }
.slide_offer .next_offer {
  position: absolute;
  top: 50%;
  left: 100%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
  margin-right: 10px;
  z-index: 2; }
  .slide_offer .next_offer img {
    max-width: 40px; }
  .slide_offer .next_offer .arrow {
    position: relative; }
    .slide_offer .next_offer .arrow:before {
      position: absolute;
      content: "";
      width: 30px;
      height: 30px;
      border: 1px solid #00000060;
      border-radius: 50%;
      top: -5px;
      left: 0;
      opacity: 0;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
      pointer-events: none; }
  .slide_offer .next_offer:hover .arrow:before {
    left: 100%;
    opacity: 1;
    -webkit-transform: translateX(-70%);
    -moz-transform: translateX(-70%);
    -ms-transform: translateX(-70%);
    -o-transform: translateX(-70%);
    transform: translateX(-70%); }
@media (max-width: 767px) {
  .slide_offer .item {
    position: relative; }
    .slide_offer .item img {
      padding-right: 30px;
      padding-bottom: 50px; }
    .slide_offer .item .meta_info {
      position: absolute;
      width: calc(100% - 20px);
      width: -webkit-calc(100% - 20px);
      width: -moz-calc(100% - 20px);
      right: 10px;
      background-color: #ffffff;
      padding: 30px;
      bottom: 0; }
      .slide_offer .item .meta_info .title {
        color: #4A4A4A;
        font-size: 14px;
        line-height: inherit;
        text-transform: uppercase;
        font-family: "Lato-Heavy", Arial; }
      .slide_offer .item .meta_info .description_post {
        font-size: 12px; }
      .slide_offer .item .meta_info .see_more {
        display: none; }
      .slide_offer .item .meta_info .date_post {
        display: none; }
  .slide_offer .slick-dots li {
    width: 10px;
    height: 10px; }
    .slide_offer .slick-dots li button {
      width: 10px;
      height: 10px; }
      .slide_offer .slick-dots li button:before {
        width: 10px;
        height: 10px;
        content: "";
        background-color: #00000085;
        border-radius: 50%; } }

#last_section {
  background-color: #FFF6F1; }
  #last_section .title_contact {
    font-family: "Lato-Heavy", Arial;
    margin: 15px 0; }
  #last_section .map_img {
    text-align: center; }
    #last_section .map_img img {
      max-height: 80vh;
      margin: 0 auto; }
  #last_section .copyright {
    position: absolute;
    bottom: 15px;
    right: 15px; }
  #last_section .showmap {
    margin-bottom: 3rem; }
    #last_section .showmap a {
      font-family: "Lato-Heavy", Arial;
      color: #281E78;
      font-size: 17px; }
  @media (max-width: 767px) {
    #last_section {
      padding-bottom: 50px; }
      #last_section .title {
        padding-top: 3rem; }
      #last_section .map_img {
        display: none;
        margin-bottom: 3rem; } }

#singlepage .content_post {
  text-align: justify; }
  #singlepage .content_post .date_post {
    margin: 50px 0 10px; }
  #singlepage .content_post p {
    width: 80%;
    margin-left: auto;
    margin-right: auto; }
  #singlepage .content_post h1 {
    color: #281E78;
    font-size: 34px;
    text-align: center;
    margin-bottom: 50px;
    width: 80%;
    margin-left: auto;
    margin-right: auto; }
  #singlepage .content_post h2 {
    font-size: 20px;
    text-align: left;
    width: 80%;
    margin-left: auto;
    margin-right: auto; }
  #singlepage .content_post h3 {
    font-size: 18px;
    text-align: left;
    width: 80%;
    margin-left: auto;
    margin-right: auto; }
  #singlepage .content_post h4 {
    font-size: 16px;
    text-align: left;
    width: 80%;
    margin-left: auto;
    margin-right: auto; }
  #singlepage .content_post img {
    max-width: 100%; }
  #singlepage .content_post figcaption {
    text-align: center;
    margin: 20px 0;
    font-family: "Lato-Italic", Arial;
    width: 80%;
    margin-left: auto;
    margin-right: auto; }
#singlepage .post_related {
  position: relative;
  padding: 50px 0; }
  #singlepage .post_related .title {
    color: #281E78;
    font-size: 40px;
    line-height: 45px;
    position: relative; }
  #singlepage .post_related .img_bg {
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    position: absolute;
    text-align: right; }
    #singlepage .post_related .img_bg img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
    #singlepage .post_related .img_bg.w-60 img {
      width: 55%; }
  #singlepage .post_related .slide_offer .title {
    font-size: 16px;
    line-height: 1.75rem; }
#singlepage #last_section {
  position: relative;
  height: 100vh;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  flex-direction: column;
  justify-content: center; }
@media (max-width: 767px) {
  #singlepage .content_post {
    margin-top: 100px; }
    #singlepage .content_post p {
      width: 100%; }
    #singlepage .content_post h1, #singlepage .content_post h2, #singlepage .content_post h3, #singlepage .content_post h4 {
      width: 100%; }
  #singlepage #last_section {
    height: auto;
    padding-bottom: 50px; } }

.fp-slidesNav ul li a span,
#fp-nav ul li a span {
  width: 10px;
  height: 10px;
  background-color: transparent;
  border: 1px solid #00000085; }
.fp-slidesNav ul li a.active span, .fp-slidesNav ul li a:hover span,
#fp-nav ul li a.active span,
#fp-nav ul li a:hover span {
  width: 10px;
  height: 10px;
  margin: -2px 0 0 -2px;
  background-color: #00000085;
  border: 1px solid transparent; }
.fp-slidesNav ul li:hover a span,
#fp-nav ul li:hover a span {
  width: 10px;
  height: 10px;
  margin: -2px 0 0 -2px;
  background-color: #00000085;
  border: 1px solid transparent; }
.fp-slidesNav ul li:hover a.active span,
#fp-nav ul li:hover a.active span {
  width: 10px;
  height: 10px;
  margin: -2px 0 0 -2px;
  background-color: #00000085;
  border: 1px solid transparent; }

.overlay_menu.show {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 99; }

.list_step {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0; }
  .list_step li {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background: #ffffff;
    margin-bottom: 15px;
    padding: 15px; }
    .list_step li:last-child {
      margin-bottom: 0; }
    .list_step li .step {
      -ms-flex: 0 0 20%;
      flex: 0 0 20%;
      max-width: 20%;
      font-family: "Lato-Heavy", Arial;
      font-size: 15px;
      color: #75787B;
      text-align: center;
      text-transform: uppercase;
      padding-right: 15px; }
      .list_step li .step span {
        font-size: 45px;
        font-family: "Lato-Regular", Arial;
        display: block;
        line-height: 45px; }
    .list_step li .step_info {
      -ms-flex: 0 0 80%;
      flex: 0 0 80%;
      max-width: 80%; }
      .list_step li .step_info .title_step {
        color: #281E78;
        font-family: "Lato-Heavy", Arial;
        margin-bottom: 5px; }

.quick-alo-ph-circle {
  position: fixed;
  width: 100px;
  height: 100px;
  bottom: 70px;
  left: 20px;
  border: 2px solid #281E78;
  background-color: transparent;
  border-radius: 100%;
  opacity: .1;
  animation: quick-alo-circle-anim 1.2s infinite ease-in-out;
  transition: all .5s;
  transform-origin: 50% 50%; }
  @media (max-width: 767px) {
    .quick-alo-ph-circle {
      display: none; } }

.quick-alo-ph-circle-fill {
  position: fixed;
  width: 80px;
  height: 80px;
  bottom: 80px;
  left: 30px;
  background-color: rgba(0, 161, 255, 0.5);
  border-radius: 100%;
  border: 2px solid transparent;
  opacity: .1;
  animation: quick-alo-circle-fill-anim 2.3s infinite ease-in-out;
  transition: all .5s;
  transform-origin: 50% 50%; }
  @media (max-width: 767px) {
    .quick-alo-ph-circle-fill {
      display: none; } }

.quick-alo-ph-img-circle {
  position: fixed;
  width: 40px;
  height: 40px;
  bottom: 100px;
  left: 50px;
  background: #281E78 url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABrklEQVRYR82XjTEEQRCFX0dABlwEiAARkAEyIAJEoERACETARUAIJwIyeOqptfbm5qeP3lpTdVVXVzPd3/R0v+4zTLxsYv/4XwAkrwDsV6JyZmaLyKj1ESB5AOCpYfzazAQZttYFuDWz8zDvwE8OkNwF8NIwvjCz2SgAMkqSDuOzyDxYqgKSrwB2GhBKxHsHqGtLCiDDJ42Tj2Z27LLu2JQCnAK4a5x7M7Nth23XlhRgE8B74+SemempQtaKEpKsPUPo++sGOYCSIIU7zwJ05ficSLLkV6H/CIn7wEi2GRVkOVwFixEoREE/hz9DsR2TVKkp2zeSsI9bBUNnJNV4bhIA5cFhVCk2B5JCWVYhSEopjwAob6qa4QGQOKkqcj1iJSdIpmoqWEHIhr7Ph1BNgC4haxAPAC7UITPOc1UrCOXR12TlAnBAyKhAdHvPUg4pIn6AAYQc1ebG8QC+LXfD66XHU2HP7yKQlKhGODWu1gCTY/g7wCAaendNyltrRCQOIAERjCc/ejV1V4H3dp2ES4jU1vVJpXxpogoHSEE7oOEIp9G+/3c1OkArcpMDfAIqL6EhVS6JOAAAAABJRU5ErkJggg==") no-repeat center center/20px auto;
  border-radius: 100%;
  border: 2px solid transparent;
  opacity: .99;
  animation: quick-alo-circle-img-anim 1s infinite ease-in-out;
  transform-origin: 50% 50%; }
  @media (max-width: 767px) {
    .quick-alo-ph-img-circle {
      bottom: 30px;
      left: unset;
      right: 15px; } }

@-moz-keyframes quick-alo-circle-anim {
  0% {
    -moz-transform: rotate(0) scale(0.5) skew(1deg);
    opacity: .1;
    -moz-opacity: .1;
    -webkit-opacity: .1;
    -o-opacity: 0.1; }
  30% {
    -moz-transform: rotate(0) scale(0.7) skew(1deg);
    opacity: .5;
    -moz-opacity: .5;
    -webkit-opacity: .5;
    -o-opacity: 0.5; }
  100% {
    -moz-transform: rotate(0) scale(1) skew(1deg);
    opacity: .6;
    -moz-opacity: .6;
    -webkit-opacity: .6;
    -o-opacity: 0.1; } }
@-webkit-keyframes quick-alo-circle-anim {
  0% {
    -webkit-transform: rotate(0) scale(0.5) skew(1deg);
    -webkit-opacity: 0.1; }
  30% {
    -webkit-transform: rotate(0) scale(0.7) skew(1deg);
    -webkit-opacity: 0.5; }
  100% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    -webkit-opacity: 0.1; } }
@-o-keyframes quick-alo-circle-anim {
  0% {
    -o-transform: rotate(0) kscale(0.5) skew(1deg);
    -o-opacity: 0.1; }
  30% {
    -o-transform: rotate(0) scale(0.7) skew(1deg);
    -o-opacity: 0.5; }
  100% {
    -o-transform: rotate(0) scale(1) skew(1deg);
    -o-opacity: 0.1; } }
@-moz-keyframes quick-alo-circle-fill-anim {
  0% {
    -moz-transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.2; }
  50% {
    -moz-transform: rotate(0) -moz-scale(1) skew(1deg);
    opacity: 0.2; }
  100% {
    -moz-transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.2; } }
@-webkit-keyframes quick-alo-circle-fill-anim {
  0% {
    -webkit-transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.2; }
  50% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.2; }
  100% {
    -webkit-transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.2; } }
@-o-keyframes quick-alo-circle-fill-anim {
  0% {
    -o-transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.2; }
  50% {
    -o-transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.2; }
  100% {
    -o-transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.2; } }
@-moz-keyframes quick-alo-circle-img-anim {
  0% {
    transform: rotate(0) scale(1) skew(1deg); }
  10% {
    -moz-transform: rotate(-25deg) scale(1) skew(1deg); }
  20% {
    -moz-transform: rotate(25deg) scale(1) skew(1deg); }
  30% {
    -moz-transform: rotate(-25deg) scale(1) skew(1deg); }
  40% {
    -moz-transform: rotate(25deg) scale(1) skew(1deg); }
  50% {
    -moz-transform: rotate(0) scale(1) skew(1deg); }
  100% {
    -moz-transform: rotate(0) scale(1) skew(1deg); } }
@-webkit-keyframes quick-alo-circle-img-anim {
  0% {
    -webkit-transform: rotate(0) scale(1) skew(1deg); }
  10% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg); }
  20% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg); }
  30% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg); }
  40% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg); }
  50% {
    -webkit-transform: rotate(0) scale(1) skew(1deg); }
  100% {
    -webkit-transform: rotate(0) scale(1) skew(1deg); } }
@-o-keyframes quick-alo-circle-img-anim {
  0% {
    -o-transform: rotate(0) scale(1) skew(1deg); }
  10% {
    -o-transform: rotate(-25deg) scale(1) skew(1deg); }
  20% {
    -o-transform: rotate(25deg) scale(1) skew(1deg); }
  30% {
    -o-transform: rotate(-25deg) scale(1) skew(1deg); }
  40% {
    -o-transform: rotate(25deg) scale(1) skew(1deg); }
  50% {
    -o-transform: rotate(0) scale(1) skew(1deg); }
  100% {
    -o-transform: rotate(0) scale(1) skew(1deg); } }
@-moz-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none; } }
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none; } }
@-o-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none; } }

/*# sourceMappingURL=main.css.map */
