@import "_var.scss";
html{
  overflow-x: hidden !important;
}
body{
  font-size: 13px;
  font-family: $font-regular;
  overflow-x: hidden !important;
  a{
    text-decoration: none;
    outline: none;
    color: #00000085;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    &:hover{
      text-decoration: none;
    }
    &.see_more{
      color: $cl-blue;
      font-family: $font-heavy;
      font-size: 15px;
      line-height: 15px;
      margin: 30px 0;
      display: inline-block;
      position: relative;
      z-index: 1;
      &:before{
        position: absolute;
        content: "";
        background-color: #FFE3D4;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        top: 50%;
        left: 0;
        z-index: -1;
        -webkit-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        pointer-events: none;
      }
      &:hover{
        &:before{
          left: 100%;
        }
      }
    }
  }
  button{
    &:focus{
      box-shadow: none;
      outline: none;
    }
  }
  strong,
  b, em{
    font-family: $font-heavy;
  }
  h1,h2,h3,h4,h5{
    font-family: $font-heavy;
  }
  .form-control{
    background-color: transparent;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid #4A4A4A;
    margin-bottom: 15px;
    resize: none;
    font-size: 13px;
    padding-left: 0;
    padding-right: 0;
    &:focus{
      background-color: transparent;
      box-shadow: none;
      outline: none;
      border-color: $cl-blue;
    }
  }
  select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(../images/dropdown.png) no-repeat right center / 10px auto;
  }
  select::-ms-expand {
    display: none;
  }
  .wrapper_submit{
    display: inline-block;
    color: $cl-blue;
    font-family: $font-heavy;
    font-size: 15px;
    line-height: 15px;
    margin: 30px 0;
    position: relative;
    z-index: 1;
    .submit_button{
      font-family: $font-heavy;
      color: $cl-blue;
      background-color: transparent;
      border: 0;
    }
    &:before{
      position: absolute;
      content: "";
      background-color: #FFE3D4;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      top: 50%;
      left: 0;
      z-index: -1;
      -webkit-transform: translate(-50%,-50%);
      -moz-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
      -o-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
      pointer-events: none;
    }
    &:hover{
      &:before{
        left: 100%;
      }
    }
  }
}
#header_site{
  background-color: #ffffff;
  .navbar{
    padding-left: 0;
    padding-right: 0;
    img{
      max-width: 50px;
      max-height: 50px;
    }
    a{
      color: #00000085;
      &.navbar-brand{
        margin-right: 30px;
        z-index: 1;
        position: relative;
      }
    }
    .navbar-nav{
      li{
        position: relative;
        a{
          margin-right: 30px;
          img{
            max-height: 15px;
          }
        }
        &:last-child{
          a{
            margin-right: 0;
          }
        }
        .sub-menu{
          position: absolute;
          top: calc(100% + 30px);
          top: -webkit-calc(100% + 30px);
          top: -moz-calc(100% + 30px);
          list-style: none;
          padding-left: 0;
          background-color: #FFFFFF;
          box-shadow: 0 0 10px rgba(0,0,0,0.1);
          visibility: hidden;
          -webkit-transition: all 0.5s ease;
          -moz-transition: all 0.5s ease;
          -ms-transition: all 0.5s ease;
          -o-transition: all 0.5s ease;
          transition: all 0.5s ease;
          opacity: 0;
          li{
            margin: 0;
            a{
              padding: .5rem 3rem;
              display: block;
              margin: 0;
              white-space: nowrap;
              border-bottom: 1px solid #f2f2f2;
              text-align: center;
            }
          }
        }
        &:hover{
          .sub-menu{
            top: 100%;
            visibility: visible;
            opacity: 1;
          }
        }
      }
      &:not(.form-inline){
        li{
          a{
            position: relative;
            &:before{
              position: absolute;
              content: "";
              width: 5px;
              height: 5px;
              background-color: #000000;
              border-radius: 50%;
              bottom: -3px;
              left: 0;
              -webkit-transition: all 0.5s ease;
              -moz-transition: all 0.5s ease;
              -ms-transition: all 0.5s ease;
              -o-transition: all 0.5s ease;
              transition: all 0.5s ease;
              opacity: 0;
            }
            &:hover{
              color: #000000;
              &:before{
                opacity: 1;
                left: 50%;
                -webkit-transform: translateX(-50%);
                -moz-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                -o-transform: translateX(-50%);
                transform: translateX(-50%);
              }
            }
          }
          &.active{
            a{
              font-family: $font-heavy;
              color: #000000;
              &:before{
                opacity: 1;
                left: 50%;
                -webkit-transform: translateX(-50%);
                -moz-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                -o-transform: translateX(-50%);
                transform: translateX(-50%);
              }
            }
          }
        }
      }
      &.form-inline{
       li{
         a{
           font-size: 9px;
           i{
             font-size: 14px;
           }
         }
       }
      }
    }
  }
  .menu_mobile{
    position: absolute;
    list-style: none;
    top: 25px;
    right: 60px;
    padding-left: 0;
    li{
      display: inline-block;
      text-align: center;
      margin-right: 15px;
      img{
        max-height: 20px;
        display: block;
        margin: 0 auto;
      }
      a{
        color: #000000;
        font-size: 11px;
      }
      i{
        font-size: 30px;
      }
    }
  }
  @media (max-width: 767px) {
    .navbar-toggler{
      border: 0;
      border-radius: 0;
      img{
        max-width: 30px;
        margin-top: 5px;
      }
    }
    .navbar {
      a{
        font-size: 17px;
        padding-top: 15px;
      }
      .navbar-nav:not(.form-inline){
        li {
          a{
            text-align: center;
            margin-right: 0;
            &:before{
              left: 50%;
            }
          }
          &.social{
            text-align: center;
            a{
              width: 30px;
              display: inline-block;
              &:before{
                display: none;
              }
              svg{
                width: 18px;
                max-height: 18px;
              }
            }
          }
        }
      }
    }
    .form-inline{
      display: none;
    }
  }
}
#menu_sidebar{
  position: fixed;
  left: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  ul{
    list-style: none;
    padding-left: 0;
    li{
      text-align: center;
      margin: 10px 0;
      svg{
        width: 18px;
        max-height: 18px;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
      }
      a{
        &:hover{
          svg{
            -webkit-transform: rotateY(360deg);
            -moz-transform: rotateY(360deg);
            -ms-transform: rotateY(360deg);
            -o-transform: rotateY(360deg);
            transform: rotateY(360deg);
          }
          #fb_icon{
            path{
              fill: #3b5998;
            }
          }
          #ins_icon{
            path{
              fill: #3f729b;
            }
          }
          #yb_icon{
            path{
              fill: #c4302b;
            }
          }
        }
      }
    }
  }
  @media (max-width: 767px) {
    display: none;
  }
}
#menu_lang{
  position: fixed;
  bottom: 15px;
  left: 15px;
  ul{
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
    li{
      display: inline-block;
      margin-right: 15px;
      a{
        color: #00000085;
        &:hover{
          color: $cl-blue;
        }
      }
      &.active{
        a{
          font-family: $font-heavy;
          color: $cl-blue;
        }
      }
    }
  }
}
.section{
  &.bg-green{
    background: #F1F8F2;
  }
  .title{
    color: $cl-blue;
    font-size: 40px;
    line-height: 45px;
    position: relative;
  }
  .description{
    font-size: 16px;
    padding-left: 30px;
    color: #000000;
    position: relative;
    &:before{
      position: absolute;
      content: "";
      width: 20px;
      top: 10px;
      left: 0;
      background-color: #000000;
      height: 1px;
    }
  }
  &.bg_green{
    background: #D1E9D550;
  }
  .img_fullheight{
    position: relative;
    text-align: right;
    pointer-events: none;
    img{
      max-width: 60%;
    }
  }
  .content_middle{
    position: absolute;
    top: 50%;
    width: 100%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1;
  }
  .content_speacial{
    padding-left: 30px;
    font-size: 17px;
    color: #000000;;
    position: relative;
    &:before{
      position: absolute;
      content: "";
      width: 20px;
      top: 10px;
      left: 0;
      background-color: #000000;
      height: 1px;
    }
  }
  .item_port{
    background-color: #ffffff;
    height: 100%;
    text-align: center;
    padding: 1rem;
    .icon_port{
      margin-bottom: 15px;
      img{
        max-width: 100px;
        max-height: 70px;
      }
    }
    .port_title{
      color: $cl-blue;
      font-family: $font-heavy;
      font-size: 15px;
      margin-bottom: 20px;
    }
  }
  .content_abs{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 22;
    color: $cl-blue;
    .content{
      color: #4A4A4A;
    }
  }
  .img_bg{
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    position: absolute;
    text-align: right;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &.w-60{
      img{
        width: 55%;
      }
    }
  }
  .slider_img{
    .slick-slide{
      &:focus{
        box-shadow: none;
        outline: none;
      }
    }
    .item{
      &:not(.slick-center){
        img{
          -webkit-transform: scale(0.8);
          -moz-transform: scale(0.8);
          -ms-transform: scale(0.8);
          -o-transform: scale(0.8);
          transform: scale(0.8);
        }
      }
      img{
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
      }
    }
    .prev_offer{
      position: absolute;
      top: 50%;
      right: 100%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      cursor: pointer;
      margin-right: 10px;
      z-index: 2;
      img{
        max-width: 40px;
      }
      .arrow{
        position: relative;
        &:before{
          position: absolute;
          content: "";
          width: 30px;
          height: 30px;
          border: 1px solid #00000060;
          border-radius: 50%;
          top: -5px;
          right: 0;
          opacity: 0;
          -webkit-transition: all 0.5s ease;
          -moz-transition: all 0.5s ease;
          -ms-transition: all 0.5s ease;
          -o-transition: all 0.5s ease;
          transition: all 0.5s ease;
          pointer-events: none;
        }
      }
      &:hover{
        .arrow {
          &:before {
            right: 100%;
            opacity: 1;
            -webkit-transform: translateX(70%);
            -moz-transform: translateX(70%);
            -ms-transform: translateX(70%);
            -o-transform: translateX(70%);
            transform: translateX(70%);
          }
        }
      }
    }
    .next_offer{
      position: absolute;
      top: 50%;
      left: 100%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      cursor: pointer;
      margin-right: 10px;
      z-index: 2;
      img{
        max-width: 40px;
      }
      .arrow{
        position: relative;
        &:before{
          position: absolute;
          content: "";
          width: 30px;
          height: 30px;
          border: 1px solid #00000060;
          border-radius: 50%;
          top: -5px;
          left: 0;
          opacity: 0;
          -webkit-transition: all 0.5s ease;
          -moz-transition: all 0.5s ease;
          -ms-transition: all 0.5s ease;
          -o-transition: all 0.5s ease;
          transition: all 0.5s ease;
          pointer-events: none;
        }
      }
      &:hover{
        .arrow {
          &:before {
            left: 100%;
            opacity: 1;
            -webkit-transform: translateX(-70%);
            -moz-transform: translateX(-70%);
            -ms-transform: translateX(-70%);
            -o-transform: translateX(-70%);
            transform: translateX(-70%);
          }
        }
      }
    }
    .slick-dots {
      bottom: 10px;
      li {
        width: 10px;
        height: 10px;
        button{
          width: 10px;
          height: 10px;
          &:before{
            width: 10px;
            height: 10px;
            content: "";
            background-color: #00000085;
            border-radius: 50%;
          }
        }
      }
    }
  }
  .slider_description{
    .slick-slide{
      &:focus{
        box-shadow: none;
        outline: none;
      }
    }
  }
  .slider_skill{
    .item{
      position: relative;
      img{
        height: 100vh;
        width: auto;
      }
      .meta_info{
        position: absolute;
        right: 0;
        top: 25%;
        width: 50%;
        background: #3E553C;
        color: #ffffff;
        padding: 30px;
        .number{
          font-size: 90px;
          font-family: $font-heavy;
          line-height: 90px;
          margin-bottom: 20px;
        }
        .title_slider{
          font-family: $font-heavy;
          font-size: 16px;
          margin-bottom: 20px;
        }
      }
    }
    .prev_offer{
      position: absolute;
      top: 20%;
      right: 60px;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      cursor: pointer;
      margin-right: 10px;
      z-index: 2;
      img{
        max-width: 40px;
      }
      .arrow{
        position: relative;
        &:before{
          position: absolute;
          content: "";
          width: 30px;
          height: 30px;
          border: 1px solid #00000060;
          border-radius: 50%;
          top: -5px;
          right: 0;
          opacity: 0;
          -webkit-transition: all 0.5s ease;
          -moz-transition: all 0.5s ease;
          -ms-transition: all 0.5s ease;
          -o-transition: all 0.5s ease;
          transition: all 0.5s ease;
          pointer-events: none;
        }
      }
      &:hover{
        .arrow {
          &:before {
            right: 100%;
            opacity: 1;
            -webkit-transform: translateX(70%);
            -moz-transform: translateX(70%);
            -ms-transform: translateX(70%);
            -o-transform: translateX(70%);
            transform: translateX(70%);
          }
        }
      }
    }
    .next_offer{
      position: absolute;
      top: 20%;
      right: 0;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      cursor: pointer;
      margin-right: 10px;
      z-index: 2;
      img{
        max-width: 40px;
      }
      .arrow{
        position: relative;
        &:before{
          position: absolute;
          content: "";
          width: 30px;
          height: 30px;
          border: 1px solid #00000060;
          border-radius: 50%;
          top: -5px;
          left: 0;
          opacity: 0;
          -webkit-transition: all 0.5s ease;
          -moz-transition: all 0.5s ease;
          -ms-transition: all 0.5s ease;
          -o-transition: all 0.5s ease;
          transition: all 0.5s ease;
          pointer-events: none;
        }
      }
      &:hover{
        .arrow {
          &:before {
            left: 100%;
            opacity: 1;
            -webkit-transform: translateX(-70%);
            -moz-transform: translateX(-70%);
            -ms-transform: translateX(-70%);
            -o-transform: translateX(-70%);
            transform: translateX(-70%);
          }
        }
      }
    }
    .slick-dots{
      left: 100%;
      bottom: 50px;
      padding-left: 30px;
      width: auto;
      li {
        button{
          color: $cl-blue;
          font-size: 15px;
          &:before{
            width: 0;
            height: 1px;
            background: $cl-blue;
            top: 50%;
            left: -20px;
            content: "";
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -ms-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
          }
        }
        &.slick-active{
          button{
            font-family: $font-heavy;
            &:before{
              width: 20px;
            }
          }
        }
      }
    }
  }
  .bottom_slider{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 30%;
  }
  .content_bottom{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  .content_top{
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
  }
  #v-enroll-tab{
    .nav-link{
      font-size: 16px;
      color: #000000;
      padding-left: 50px;
      position: relative;
      &:before{
        position: absolute;
        content: '';
        width: 0;
        height: 1px;
        left: 0;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        background: #000000;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
      }
      &.active{
        font-family: $font-heavy;
        &:before{
          width: 30px;
        }
      }
    }
  }
  #v-enroll-tabContent{
    table{
      text-align: center;
      border-collapse: separate;
      border-spacing: 1px;
      thead{
        background: #ffffff;
        color: $cl-blue;
        font-family: $font-heavy;
        white-space: nowrap;
        tr{
          th{
            border-bottom-width: 1px;
          }
          td{
            border-bottom-width: 1px;
          }
        }
      }
      tbody{
        background: #DCDCDC;
        tr{
          th{
            color: $cl-blue;
            font-family: $font-heavy;
          }
          td{
            &:last-child{
              color: #ff0000;
              font-family: $font-heavy;
            }
          }
        }
      }
    }
    .content_promotion{
      background: #ffffff;
      padding: 2rem;
      max-height: 50vh;
      h4{
        color: $cl-blue;
        font-family: $font-heavy;
        font-size: 13px;
      }
    }
  }
  .item_post_featured{
    position: relative;
    figure{
      position: relative;
      .tag{
        position: absolute;
        top: 15px;
        left: 0;
        background: #FFE3D4;
        padding: 2px 10px;
        font-size: 13px;
        font-family: $font-heavy;
        &.news{
          background: #D1E9D5;
        }
      }
    }
    .meta_info{
      position: absolute;
      top: 70%;
      width: 85%;
      right: 0;
      background: #ffffff;
      padding: 30px;
    }
    .date_post{
      margin-bottom: 10px;
    }
    h3{
      font-size: 15px;
      text-transform: uppercase;
      line-height: 20px;
      a{
        color: $cl-blue;
      }
    }
  }
  .item_post{
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #000000;
    &:last-child{
      border-bottom: 0;
    }
    figure{
      position: relative;
      .tag{
        position: absolute;
        top: 15px;
        left: 0;
        background: #FFE3D4;
        padding: 2px 10px;
        font-size: 13px;
        font-family: $font-heavy;
        &.news{
          background: #D1E9D5;
        }
      }
    }
    .date_post{
      margin-bottom: 10px;
    }
    h3{
      font-size: 13px;
      text-transform: uppercase;
      line-height: 16px;
      a{
        color: $cl-blue;
      }
    }
    .description_post{
      margin-bottom: 10px;
    }
  }
  .category_menu{
    margin-bottom: 30px;
    li{
      a{
        padding-right: 30px;
        font-size: 16px;
        color: #000000;
        position: relative;
        &:before{
          position: absolute;
          content: "";
          width: 0;
          height: 1px;
          background: #000000;
          left: -10px;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          transform: translateY(-50%);
          -webkit-transition: all 0.5s ease;
          -moz-transition: all 0.5s ease;
          -ms-transition: all 0.5s ease;
          -o-transition: all 0.5s ease;
          transition: all 0.5s ease;
        }
      }
      &:hover,
      &.active{
        a{
          font-family: $font-heavy;
          padding-left: 30px;
          &:before{
            width: 30px;
          }
        }
      }
    }
  }
  #map{
    height: 100vh;
    h4{
      font-family: $font-heavy;
      color: $cl-blue;
      font-size: 14px;
      text-transform: uppercase;
    }
    .gm-style {
      .gm-style-iw-c{
        border-radius: 0;
      }
    }
  }
  .area_location{
    max-height: 50vh;
    background: #ffffff;
    width: calc(100% + 100px);
    width: -webkit-calc(100% + 100px);
    width: -moz-calc(100% + 100px);
    padding: 30px;
    z-index: 1;
    position: relative;
    p{
      margin-bottom: 5px;
    }
    .item_location{
      position: relative;
      border-bottom: 1px solid #D8D8D8;
      padding: 30px 0;
      .map_title{
        h4{
          color: $cl-blue;
          font-size: 14px;
        }
      }
      .see_more{
        position: absolute;
        right: 0;
        bottom: 5px;
      }
    }
  }
  @media (max-width: 767px) {
    .title{
      font-size: 30px;
      line-height: 35px;
    }
    .content_abs{
      position: static;
      -webkit-transform: translate(0,0);
      -moz-transform: translate(0,0);
      -ms-transform: translate(0,0);
      -o-transform: translate(0,0);
      transform: translate(0,0);
      padding: 3rem 1rem;
    }
    .content_bottom{
      position: static;
      padding: 3rem 0 0;
    }
    .content_top{
      position: static;
      padding: 3rem 0 0;
    }
    .content_middle{
      position: static;
      -webkit-transform: translate(0,0);
      -moz-transform: translate(0,0);
      -ms-transform: translate(0,0);
      -o-transform: translate(0,0);
      transform: translate(0,0);
    }
    .img_fullheight{
      margin-top: 3rem;
      img{
        max-width: 100%;
      }
    }
    .content_speacial{
      margin-top: 3rem;
    }
    .img_wrapper{
      margin-bottom: 3rem;
    }
    .img_bg{
      height: 100%;
      &.opt-50{
        &:before{
          position: absolute;
          content: "";
          width: 100%;
          height: 100%;
          background: rgba(255,255,255,0.5);
        }
      }
      &.w-60{
        width: 100%;
        height: auto;
        position: static;
        img{
          width: 100%;
          height: auto;
        }
      }
      img{
        height: 100%;
      }
    }
    .item_port{
      margin: 0 30px 30px;
      height: auto;
    }
    .slider_img{
      .item{
        &:not(.slick-center) {
          img{
            -webkit-transform: scale(1);
            -moz-transform: scale(1);
            -ms-transform: scale(1);
            -o-transform: scale(1);
            transform: scale(1);
          }
        }
      }
    }
    .slider_skill {
      margin-top: 30px;
      .item {
        img{
          width: 100%;
          height: auto;
        }
        .meta_info{
          position: static;
          width: 100%;
          .number{
            font-size: 30px;
            line-height: 35px;
          }
        }
      }
    }
    .bottom_slider{
      width: 100%;
      position: static;
    }
    .item_post_featured{
      margin-bottom: 30px;
      .meta_info{
        position: static;
        width: 100%;
        padding: 0;
      }
    }
    .item_post{
      border-bottom: 0;
    }
    .category_menu{
      li{
        margin-bottom: 10px;
      }
    }
    #map{
      height: 70vh;
    }
    .area_location{
      width: 100%;
      padding: 15px;
    }
  }
}
#section_first{

  @media (max-width: 767px) {
    .content_middle{
      margin-top: 100px;
    }
    .content_top{
      margin-top: 100px;
      padding-top: 0;
    }
  }
}
.slider_banner{
  position: relative;
  .slick-slide{
    &:focus{
      box-shadow: none;
      outline: none;
    }
  }
  .item{
    width: 100%;
    height: 100vh;
    position: relative;
    img{
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &:before{
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      background: rgba(255,255,255,0.3);
      left: 0;
      top: 0;
      z-index: 1;
    }
    .meta_info{
      position: absolute;
      width: 100%;
      top: 50%;
      left: 0;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      z-index: 22;
      color: $cl-blue;
      .title{
        font-size: 40px;
        line-height: 50px;
        strong{
          font-family: $font-heavy;
        }
      }
      .description{
        font-size: 16px;
        width: 50%;
        padding-left: 30px;
        color: #000000;
        position: relative;
        &:before{
          position: absolute;
          content: "";
          width: 20px;
          top: 10px;
          left: 0;
          background-color: #000000;
          height: 1px;
        }
      }
    }
  }
  @media (max-width: 767px) {
    .item{
      .meta_info{
        .title{
          font-size: 30px;
          line-height: 35px;
        }
        .description{
          width: 70%;
          font-size: 15px;
        }
      }
      &:before{
        background: rgba(255, 255, 255, 0.5);
      }
    }
  }
}
.nav_slider{
  .prev_slider{
    position: absolute;
    bottom: 15px;
    right: 70%;
    cursor: pointer;
    margin-right: 10px;
    z-index: 2;
    img{
      max-width: 50px;
    }
    .arrow{
      position: relative;
      &:before{
        position: absolute;
        content: "";
        width: 30px;
        height: 30px;
        border: 1px solid #00000060;
        border-radius: 50%;
        top: -5px;
        right: 0;
        opacity: 0;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        pointer-events: none;
      }
    }
    &:hover{
      .arrow {
        &:before {
          right: 100%;
          opacity: 1;
          -webkit-transform: translateX(70%);
          -moz-transform: translateX(70%);
          -ms-transform: translateX(70%);
          -o-transform: translateX(70%);
          transform: translateX(70%);
        }
      }
    }
  }
  .next_slider{
    position: absolute;
    bottom: 15px;
    left: 30%;
    cursor: pointer;
    margin-left: 10px;
    z-index: 2;
    img{
      max-width: 50px;
    }
    .arrow{
      position: relative;
      &:before{
        position: absolute;
        content: "";
        width: 30px;
        height: 30px;
        border: 1px solid #00000060;
        border-radius: 50%;
        top: -5px;
        left: 0;
        opacity: 0;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        pointer-events: none;
      }
    }
    &:hover{
      .arrow{
        &:before{
          left: 100%;
          opacity: 1;
          -webkit-transform: translateX(-70%);
          -moz-transform: translateX(-70%);
          -ms-transform: translateX(-70%);
          -o-transform: translateX(-70%);
          transform: translateX(-70%);
        }
      }
    }
  }
  @media (max-width: 767px) {
    .prev_slider{
      right: 30%;
    }
    .next_slider{
      left: 70%;
    }
  }
}
.row_custom{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  .col_md_50,
  .col_50{
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    .img-60{
      height: 55vh;
      position: relative;
      img{
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .content-40{
      height: 45vh;
      display: flex;
      display: -webkit-flex;
      justify-content: center;
      flex-direction: column;
      padding: 3rem;
      position: relative;
      overflow: hidden;
      .title{
        font-family: $font-heavy;
        font-size: 17px;
        margin-bottom: 20px;
        line-height: inherit;
        position: relative;
        z-index: 1;
        color: #00000085;
      }
      .content{
        position: relative;
        z-index: 1;
      }
      &.bg-pink{
        background-color: #FFE3D4;
        .number{
          position: absolute;
          left: 0;
          bottom: 0;
          font-family: $font-heavy;
          font-size: 150px;
          line-height: 150px;
          color: #E4002B15;
          -webkit-transform: translate(-10px,20px);
          -moz-transform: translate(-10px,20px);
          -ms-transform: translate(-10px,20px);
          -o-transform: translate(-10px,20px);
          transform: translate(-10px,20px);
        }
      }
      &.bg-green{
        background-color: #D1E9D550;
        .number{
          position: absolute;
          left: 0;
          bottom: 0;
          font-family: $font-heavy;
          font-size: 150px;
          line-height: 150px;
          color: #ffffff;
          -webkit-transform: translate(-10px,20px);
          -moz-transform: translate(-10px,20px);
          -ms-transform: translate(-10px,20px);
          -o-transform: translate(-10px,20px);
          transform: translate(-10px,20px);
        }
      }

    }
  }
  @media (max-width: 767px) {
    .col_md_50,
    .col_50{
      .img-60{
        height: 300px;
      }
      .content-40 {
        height: 250px;
        padding: 1rem;
        .title{
          font-size: 14px;
        }
        .content{
          font-size: 12px;
        }
      }
    }

    .col_md_50{
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
}
.slider_about{
  .slick-slide{
    &:focus{
      box-shadow: none;
      outline: none;
    }
  }
}
.nav_about{
  .prev_slider{
    position: absolute;
    bottom: 15px;
    right: 55%;
    cursor: pointer;
    margin-right: 10px;
    z-index: 2;
    img{
      max-width: 50px;
    }
    .arrow{
      position: relative;
      &:before{
        position: absolute;
        content: "";
        width: 30px;
        height: 30px;
        border: 1px solid #00000060;
        border-radius: 50%;
        top: -5px;
        right: 0;
        opacity: 0;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        pointer-events: none;
      }
    }
    &:hover{
      .arrow {
        &:before {
          right: 100%;
          opacity: 1;
          -webkit-transform: translateX(70%);
          -moz-transform: translateX(70%);
          -ms-transform: translateX(70%);
          -o-transform: translateX(70%);
          transform: translateX(70%);
        }
      }
    }
  }
  .next_slider{
    position: absolute;
    bottom: 15px;
    left: 45%;
    cursor: pointer;
    margin-left: 10px;
    z-index: 2;
    img{
      max-width: 50px;
    }
    .arrow{
      position: relative;
      &:before{
        position: absolute;
        content: "";
        width: 30px;
        height: 30px;
        border: 1px solid #00000060;
        border-radius: 50%;
        top: -5px;
        left: 0;
        opacity: 0;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        pointer-events: none;
      }
    }
    &:hover{
      .arrow{
        &:before{
          left: 100%;
          opacity: 1;
          -webkit-transform: translateX(-70%);
          -moz-transform: translateX(-70%);
          -ms-transform: translateX(-70%);
          -o-transform: translateX(-70%);
          transform: translateX(-70%);
        }
      }
    }
  }
  @media (max-width: 767px) {
    .prev_slider{
      right: 30%;
    }
    .next_slider{
      left: 70%;
    }
  }
}

.slider_value{
  width: 450px;
  height: 450px;
  margin: 0 auto;
  position: relative;
  .slick-slide{
    &:focus{
      box-shadow: none;
      outline: none;
    }
  }
  &:before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: #ffffff90;
    border-radius: 50%;
  }
  .item{
    padding: 3rem;
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    height: 450px;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    .content{
      color: #4A4A4A;
    }
  }
  .prev_value{
    position: absolute;
    bottom: 40px;
    right: 50%;
    cursor: pointer;
    margin-right: 5px;
    z-index: 2;
    img{
      max-width: 40px;
    }
    .arrow{
      position: relative;
      &:before{
        position: absolute;
        content: "";
        width: 30px;
        height: 30px;
        border: 1px solid #00000060;
        border-radius: 50%;
        top: -5px;
        right: 0;
        opacity: 0;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        pointer-events: none;
      }
    }
    &:hover{
      .arrow {
        &:before {
          right: 100%;
          opacity: 1;
          -webkit-transform: translateX(70%);
          -moz-transform: translateX(70%);
          -ms-transform: translateX(70%);
          -o-transform: translateX(70%);
          transform: translateX(70%);
        }
      }
    }
  }
  .next_value{
    position: absolute;
    bottom: 40px;
    left: 50%;
    cursor: pointer;
    margin-left: 5px;
    z-index: 2;
    img{
      max-width: 40px;
    }
    .arrow{
      position: relative;
      &:before{
        position: absolute;
        content: "";
        width: 30px;
        height: 30px;
        border: 1px solid #00000060;
        border-radius: 50%;
        top: -5px;
        left: 0;
        opacity: 0;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        pointer-events: none;
      }
    }
    &:hover{
      .arrow{
        &:before{
          left: 100%;
          opacity: 1;
          -webkit-transform: translateX(-70%);
          -moz-transform: translateX(-70%);
          -ms-transform: translateX(-70%);
          -o-transform: translateX(-70%);
          transform: translateX(-70%);
        }
      }
    }
  }
  @media (max-width: 767px) {
    width: 300px;
    height: 300px;
    .item{
      height: 300px;
      padding: 1rem;
      .content{
        display: none;
      }
      .description{
        font-size: 13px;
      }
      .title{
        font-size: 20px;
      }
    }
  }
}
.gallery_wrapper{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  grid-gap: 3px;
  .item_0{
    grid-row: 2/3;
    grid-column: 1/2;
    position: relative;
    height: 25vh;
    img{
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .content{
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      display: -webkit-flex;
      display: -ms-flexbox;
      flex-direction: column;
      justify-content: center;
      background-color: #D1E9D5;
      padding: 3rem;
      .title{
        font-size: 17px;
        line-height: inherit;
        color: #000000;
        font-family: $font-heavy;
      }
    }
  }
  .item_1{
    grid-row: 1/2;
    grid-column: 1/2;
    position: relative;
    height: 40vh;
    img{
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .item_2{
    grid-row: 1/3;
    grid-column: 2/3;
    position: relative;
    //height: 65vh;
    img{
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .item_3{
    grid-row: 1/2;
    grid-column: 3/5;
    position: relative;
    height: 40vh;
    img{
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .item_4{
    grid-row: 2/3;
    grid-column: 4/5;
    position: relative;
    height: 25vh;
    img{
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .item_5{
    grid-row: 2/3;
    grid-column: 3/4;
    position: relative;
    height: 25vh;
    img{
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .content{
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      display: flex;
      padding: 2rem;
      background-color: #FFE3D4;
      flex-direction: column;
      justify-content: center;
    }
  }
  @media (max-width: 767px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    grid-gap: 3px;
    .item_0{
      grid-row: 2/3;
      grid-column: 2/3;
      position: relative;
      height: 200px;
      .content{
        padding: 1rem;
      }
    }
    .item_1{
      grid-row: 1/2;
      grid-column: 1/2;
      position: relative;
      height: 200px;
    }
    .item_2{
      grid-row: 1/2;
      grid-column: 2/3;
      position: relative;
      height: 200px;
    }
    .item_3{
      grid-row: 2/3;
      grid-column: 1/2;
      position: relative;
      height: 200px;
    }
    .item_4{
      grid-row: 3/4;
      grid-column: 2/3;
      position: relative;
      height: 200px;
    }
    .item_5{
      grid-row: 3/4;
      grid-column: 1/2;
      position: relative;
      height: 200px;
      .content{
        padding: 1rem;
      }
    }
  }
}
.slide_offer{
  .slick-slide{
    &:focus{
      box-shadow: none;
      outline: none;
    }
  }
  .item{
    position: relative;
    img{
      padding-right: 80px;
      padding-bottom: 50px;
    }
    figure{
      position: relative;
      .tag{
        position: absolute;
        top: 15px;
        left: 0;
        background: #FFE3D4;
        padding: 2px 10px;
        font-size: 13px;
        font-family: $font-heavy;
        &.news{
          background: #D1E9D5;
        }
      }
    }
    .date_post{
      margin-bottom: 10px;
    }
    .meta_info{
      position: absolute;
      width: calc(100% - 50px);
      width: -webkit-calc(100% - 50px);
      width: -moz-calc(100% - 50px);
      right: 10px;
      background-color: #ffffff;
      padding: 30px;
      bottom: 0;
      min-height: 40%;
      .title{
        color: #4A4A4A;
        font-size: 16px;
        line-height: inherit;
        text-transform: uppercase;
        font-family: $font-heavy;
        a{
          color: $cl-blue;
        }
      }
      .description_post{
        font-size: 12px;
      }
    }
  }
  .prev_offer{
    position: absolute;
    top: 50%;
    right: 100%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
    margin-right: 10px;
    z-index: 2;
    img{
      max-width: 40px;
    }
    .arrow{
      position: relative;
      &:before{
        position: absolute;
        content: "";
        width: 30px;
        height: 30px;
        border: 1px solid #00000060;
        border-radius: 50%;
        top: -5px;
        right: 0;
        opacity: 0;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        pointer-events: none;
      }
    }
    &:hover{
      .arrow {
        &:before {
          right: 100%;
          opacity: 1;
          -webkit-transform: translateX(70%);
          -moz-transform: translateX(70%);
          -ms-transform: translateX(70%);
          -o-transform: translateX(70%);
          transform: translateX(70%);
        }
      }
    }
  }
  .next_offer{
    position: absolute;
    top: 50%;
    left: 100%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
    margin-right: 10px;
    z-index: 2;
    img{
      max-width: 40px;
    }
    .arrow{
      position: relative;
      &:before{
        position: absolute;
        content: "";
        width: 30px;
        height: 30px;
        border: 1px solid #00000060;
        border-radius: 50%;
        top: -5px;
        left: 0;
        opacity: 0;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        pointer-events: none;
      }
    }
    &:hover{
      .arrow {
        &:before {
          left: 100%;
          opacity: 1;
          -webkit-transform: translateX(-70%);
          -moz-transform: translateX(-70%);
          -ms-transform: translateX(-70%);
          -o-transform: translateX(-70%);
          transform: translateX(-70%);
        }
      }
    }
  }
  @media (max-width: 767px) {
    .item{
      position: relative;
      img{
        padding-right: 30px;
        padding-bottom: 50px;
      }
      .meta_info{
        position: absolute;
        width: calc(100% - 20px);
        width: -webkit-calc(100% - 20px);
        width: -moz-calc(100% - 20px);
        right: 10px;
        background-color: #ffffff;
        padding: 30px;
        bottom: 0;
        .title{
          color: #4A4A4A;
          font-size: 14px;
          line-height: inherit;
          text-transform: uppercase;
          font-family: $font-heavy;
        }
        .description_post{
          font-size: 12px;
        }
        .see_more{
          display: none;
        }
        .date_post{
          display: none;
        }
      }
    }
    .slick-dots {
      li {
        width: 10px;
        height: 10px;
        button{
          width: 10px;
          height: 10px;
          &:before{
            width: 10px;
            height: 10px;
            content: "";
             background-color: #00000085;
            border-radius: 50%;
          }
        }
      }
    }
  }
}
#last_section{
  background-color: #FFF6F1;
  .title_contact{
    font-family: $font-heavy;
    margin: 15px 0;
  }
  .map_img{
    text-align: center;
    img{
      max-height: 80vh;
      margin: 0 auto;
    }
  }
  .copyright{
    position: absolute;
    bottom: 15px;
    right: 15px;
  }
  .showmap{
    margin-bottom: 3rem;
    a{
      font-family: $font-heavy;
      color: $cl-blue;
      font-size: 17px;
    }
  }
  @media (max-width: 767px) {
    padding-bottom: 50px;
    .title{
      padding-top: 3rem;
    }
    .map_img{
      display: none;
      margin-bottom: 3rem;
    }
  }
}
#singlepage{
  .content_post{
    text-align: justify;
    .date_post{
      margin: 50px 0 10px;
    }
    p{
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
    h1{
      color: $cl-blue;
      font-size: 34px;
      text-align: center;
      margin-bottom: 50px;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
    h2{
      font-size: 20px;
      text-align: left;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
    h3{
      font-size: 18px;
      text-align: left;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
    h4{
      font-size: 16px;
      text-align: left;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
    img{max-width: 100%}
    figcaption{
      text-align: center;
      margin: 20px 0;
      font-family: $font-italic;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .post_related{
    position: relative;
    padding: 50px 0;
    .title{
      color: $cl-blue;
      font-size: 40px;
      line-height: 45px;
      position: relative;
    }
    .img_bg{
      top: 0;
      right: 0;
      width: 100%;
      height: 100vh;
      position: absolute;
      text-align: right;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      &.w-60{
        img{
          width: 55%;
        }
      }
    }
    .slide_offer{
      .title{
        font-size: 16px;
        line-height: 1.75rem;
      }
    }
  }
  #last_section{
    position: relative;
    height: 100vh;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    flex-direction: column;
    justify-content: center;
  }
  @media (max-width: 767px) {
    .content_post{
      margin-top: 100px;
      p{
        width: 100%;
      }
      h1,h2,h3,h4{
        width: 100%;
      }
    }
    #last_section{
      height: auto;
      padding-bottom: 50px;
    }
  }
}
.fp-slidesNav ,
#fp-nav {
  ul {
    li {
      a {
        span{
          width: 10px;
          height: 10px;
          background-color: transparent;
          border: 1px solid #00000085;
        }
        &.active,
        &:hover{
          span{
            width: 10px;
            height: 10px;
            margin: -2px 0 0 -2px;
            background-color: #00000085;
            border: 1px solid transparent;
          }
        }
      }
      &:hover{
        a{
          span{
            width: 10px;
            height: 10px;
            margin: -2px 0 0 -2px;
            background-color: #00000085;
            border: 1px solid transparent;
          }
          &.active{
            span{
              width: 10px;
              height: 10px;
              margin: -2px 0 0 -2px;
              background-color: #00000085;
              border: 1px solid transparent;
            }
          }
        }

      }
    }

  }
}
.overlay_menu{
  &.show{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.3);
    z-index: 99;
  }
}
.list_step{
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  li{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background: #ffffff;
    margin-bottom: 15px;
    padding: 15px;
    &:last-child{
      margin-bottom: 0;
    }
    .step{
      -ms-flex: 0 0 20%;
      flex: 0 0 20%;
      max-width: 20%;
      font-family: $font-heavy;
      font-size: 15px;
      color: #75787B;
      text-align: center;
      text-transform: uppercase;
      padding-right: 15px;
      span{
        font-size: 45px;
        font-family: $font-regular;
        display: block;
        line-height: 45px;
      }
    }
    .step_info{
      -ms-flex: 0 0 80%;
      flex: 0 0 80%;
      max-width: 80%;
      .title_step{
        color: $cl-blue;
        font-family: $font-heavy;
        margin-bottom: 5px;
      }
    }
  }
}
.quick-alo-ph-circle {
  position: fixed;
  width: 100px;
  height: 100px;
  bottom: 70px;
  left: 20px;
  border: 2px solid $cl-blue;
  background-color: transparent;
  border-radius: 100%;
  opacity: .1;
  animation: quick-alo-circle-anim 1.2s infinite ease-in-out;
  transition: all .5s;
  transform-origin: 50% 50%;
  @media (max-width: 767px) {
    display: none;
  }
}
.quick-alo-ph-circle-fill {
  position: fixed;
  width: 80px;
  height: 80px;
  bottom: 80px;
  left: 30px;
  background-color: rgba(0, 161, 255, 0.5);
  border-radius: 100%;
  border: 2px solid transparent;
  opacity: .1;
  animation: quick-alo-circle-fill-anim 2.3s infinite ease-in-out;
  transition: all .5s;
  transform-origin: 50% 50%;
  @media (max-width: 767px) {
    display: none;
  }
}

.quick-alo-ph-img-circle {
  position: fixed;
  width: 40px;
  height: 40px;
  bottom: 100px;
  left: 50px;
  background: $cl-blue url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABrklEQVRYR82XjTEEQRCFX0dABlwEiAARkAEyIAJEoERACETARUAIJwIyeOqptfbm5qeP3lpTdVVXVzPd3/R0v+4zTLxsYv/4XwAkrwDsV6JyZmaLyKj1ESB5AOCpYfzazAQZttYFuDWz8zDvwE8OkNwF8NIwvjCz2SgAMkqSDuOzyDxYqgKSrwB2GhBKxHsHqGtLCiDDJ42Tj2Z27LLu2JQCnAK4a5x7M7Nth23XlhRgE8B74+SemempQtaKEpKsPUPo++sGOYCSIIU7zwJ05ficSLLkV6H/CIn7wEi2GRVkOVwFixEoREE/hz9DsR2TVKkp2zeSsI9bBUNnJNV4bhIA5cFhVCk2B5JCWVYhSEopjwAob6qa4QGQOKkqcj1iJSdIpmoqWEHIhr7Ph1BNgC4haxAPAC7UITPOc1UrCOXR12TlAnBAyKhAdHvPUg4pIn6AAYQc1ebG8QC+LXfD66XHU2HP7yKQlKhGODWu1gCTY/g7wCAaendNyltrRCQOIAERjCc/ejV1V4H3dp2ES4jU1vVJpXxpogoHSEE7oOEIp9G+/3c1OkArcpMDfAIqL6EhVS6JOAAAAABJRU5ErkJggg==") no-repeat center center / 20px auto;
  border-radius: 100%;
  border: 2px solid transparent;
  opacity: .99;
  animation: quick-alo-circle-img-anim 1s infinite ease-in-out;
  transform-origin: 50% 50%;
  @media (max-width: 767px) {
    bottom: 30px;
    left: unset;
    right: 15px;
  }
}

@-moz-keyframes quick-alo-circle-anim {
  0% {
    -moz-transform: rotate(0) scale(.5) skew(1deg);
    opacity: .1;
    -moz-opacity: .1;
    -webkit-opacity: .1;
    -o-opacity: .1
  }
  30% {
    -moz-transform: rotate(0) scale(.7) skew(1deg);
    opacity: .5;
    -moz-opacity: .5;
    -webkit-opacity: .5;
    -o-opacity: .5
  }
  100% {
    -moz-transform: rotate(0) scale(1) skew(1deg);
    opacity: .6;
    -moz-opacity: .6;
    -webkit-opacity: .6;
    -o-opacity: .1
  }
}
@-webkit-keyframes quick-alo-circle-anim {
  0% {
    -webkit-transform: rotate(0) scale(.5) skew(1deg);
    -webkit-opacity: .1
  }
  30% {
    -webkit-transform: rotate(0) scale(.7) skew(1deg);
    -webkit-opacity: .5
  }
  100% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    -webkit-opacity: .1
  }
}
@-o-keyframes quick-alo-circle-anim {
  0% {
    -o-transform: rotate(0) kscale(.5) skew(1deg);
    -o-opacity: .1
  }
  30% {
    -o-transform: rotate(0) scale(.7) skew(1deg);
    -o-opacity: .5
  }
  100% {
    -o-transform: rotate(0) scale(1) skew(1deg);
    -o-opacity: .1
  }
}
@-moz-keyframes quick-alo-circle-fill-anim {
  0% {
    -moz-transform: rotate(0) scale(.7) skew(1deg);
    opacity: .2
  }
  50% {
    -moz-transform: rotate(0) -moz-scale(1) skew(1deg);
    opacity: .2
  }
  100% {
    -moz-transform: rotate(0) scale(.7) skew(1deg);
    opacity: .2
  }
}
@-webkit-keyframes quick-alo-circle-fill-anim {
  0% {
    -webkit-transform: rotate(0) scale(.7) skew(1deg);
    opacity: .2
  }
  50% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    opacity: .2
  }
  100% {
    -webkit-transform: rotate(0) scale(.7) skew(1deg);
    opacity: .2
  }
}
@-o-keyframes quick-alo-circle-fill-anim {
  0% {
    -o-transform: rotate(0) scale(.7) skew(1deg);
    opacity: .2
  }
  50% {
    -o-transform: rotate(0) scale(1) skew(1deg);
    opacity: .2
  }
  100% {
    -o-transform: rotate(0) scale(.7) skew(1deg);
    opacity: .2
  }
}
@-moz-keyframes quick-alo-circle-img-anim {
  0% {
    transform: rotate(0) scale(1) skew(1deg)
  }
  10% {
    -moz-transform: rotate(-25deg) scale(1) skew(1deg)
  }
  20% {
    -moz-transform: rotate(25deg) scale(1) skew(1deg)
  }
  30% {
    -moz-transform: rotate(-25deg) scale(1) skew(1deg)
  }
  40% {
    -moz-transform: rotate(25deg) scale(1) skew(1deg)
  }
  50% {
    -moz-transform: rotate(0) scale(1) skew(1deg)
  }
  100% {
    -moz-transform: rotate(0) scale(1) skew(1deg)
  }
}
@-webkit-keyframes quick-alo-circle-img-anim {
  0% {
    -webkit-transform: rotate(0) scale(1) skew(1deg)
  }
  10% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg)
  }
  20% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg)
  }
  30% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg)
  }
  40% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg)
  }
  50% {
    -webkit-transform: rotate(0) scale(1) skew(1deg)
  }
  100% {
    -webkit-transform: rotate(0) scale(1) skew(1deg)
  }
}
@-o-keyframes quick-alo-circle-img-anim {
  0% {
    -o-transform: rotate(0) scale(1) skew(1deg)
  }
  10% {
    -o-transform: rotate(-25deg) scale(1) skew(1deg)
  }
  20% {
    -o-transform: rotate(25deg) scale(1) skew(1deg)
  }
  30% {
    -o-transform: rotate(-25deg) scale(1) skew(1deg)
  }
  40% {
    -o-transform: rotate(25deg) scale(1) skew(1deg)
  }
  50% {
    -o-transform: rotate(0) scale(1) skew(1deg)
  }
  100% {
    -o-transform: rotate(0) scale(1) skew(1deg)
  }
}
@-moz-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0)
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none
  }
}
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0)
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none
  }
}
@-o-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0)
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none
  }
}