.row-comment {
    display: block;
    position: relative;
    margin-left: -15px;
    margin-right: -15px;
    margin-top: 20px;
}
.cmt-item {
    display: block;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}
.cmt-form-group {
    float: right;
    width: 40%;
}
.cmt-list-group {
    width: 60%;
    max-height: 390px;
    overflow-y: scroll;
}
.captchadiv {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.form-group.icon-input {
    position: relative;
}
.form-group.icon-input i.fa {
    position: absolute;
    left: 5px;
    top: 0;
    line-height: 34px;
    color: rgba(0, 0, 0, .35);
    font-size: 18px;
}
.frm-comment .input-group-addon,
.frm-comment textarea,
.frm-comment button {
	border-radius: 0;
}
.comment_col2,
.comment_col1 {
	float: left;
	width: 100%;
}
.comment_col1 .icon-input {
	float: left;
	width: 33.333%;
}
.comment_col1 .icon-input:not(:last-of-type) {
	padding-right: 10px;
}
.comment button {
    float: right;
    margin-left: 25px;
}
.titlecomment {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #000;
    padding: 8px 10px 8px 0;
    display: table;
    border-radius: 5px;
    position: relative;
    width: 100%;
}
li .titlecomment {
	padding-left: 10px;
}
.titlecomment:after, .titlecomment:before {
    top: 100%;
    left: 30%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.titlecomment:after {
    border-color: rgba(136, 183, 213, 0);
    border-width: 13px;
    margin-left: -13px;
}
.titlecomment:before {
    border-color: rgba(194, 225, 245, 0);
    border-width: 15px;
    margin-left: -15px;
}
.frm-comment {
    background-color: rgba(241, 241, 241, 0.48);
    padding: 10px;
    border-radius: 5px;
}
.frm-comment .btngroup {
    display: table;
    margin: auto;
}
.frm-comment input {
	border-radius: 0;
}
.frm-comment .btngroup button {
    float: left;
    margin: 8px;
}
.frm-comment .require {
    color: #F00;
    font-style: italic;
    position: absolute;
    right: 19px;
    top: 5px;
    font-size: 25px;
}
.ul-comment {
	color: #000;
}
.ul-comment li .binhluan_name {
    font-weight: bold;
    padding: 6px;
    color: #000000;
	text-transform: capitalize;
}
.ul-comment li .binhluan_mota {
    padding: 3px 3px 5px 10px;
}
.ul-comment li .le,
.ul-comment li .chan {
    background-color: #f1f1f1;
}
.ul-comment li {
    margin-bottom: 15px;
}
.ul-comment li ul {
    margin-left: 30px;
    background-color: #F9F9F9;
    margin-top: 10px;
}
.binhluan_title {
    font-weight: bold;
    padding: 8px 10px 8px 0;
    text-transform: uppercase;
    border-radius: 5px;
    margin-top: 20px;
	font-size: 14px;
}
.ngaybinhluan {
    color: #000000;
	font-weight: normal;
}
.traloibinhluan {
    margin: 8px 20px 8px 5px;
    cursor: pointer;
}
.traloibinhluan .fa {
	font-size: 10px;
}
.traloibinhluan a {
    color: #000;
}
.traloibinhluan a:hover {
    color: red;
}
.ul-comment li .binhluan_nhom3 {
    background-color: #FFF;
}
.ul-comment li .binhluan_nhom4 {
    background-color: #DDD;
}
.ul-comment li ul li ul li .binhluan_mota {
    border-left: 5px solid #E1CE52;
}
.ul-comment li ul li ul li ul li .binhluan_mota {
    border-left: 5px solid #04AFDB;
}
.xemthembinhluan {
    display: table;
    margin: auto;
}
.xemthembinhluan a {
    padding: 10px 10px;
    background-color: #E8E8E8;
    text-transform: uppercase;
}
.xemthembinhluan a:hover {
    background-color: #CCC;
}
#replace_binhluan {
    display: none;
}
ul.ul-comment > li > ul > li ul {
	margin-left: 0;
}
.binhluan_mota {
	font-size: 13px;
	font-weight: normal;
}
@media (max-width:480px) {
    .comment_col1, .comment_col2 {
        width: 100%;
    }
    .comment_col1 .icon-input {
        width: 100% !important;
        padding-right: 0px !important;
    }

    
}