@media screen and (max-width: 1099px) {
  #wapper_wapper{
    width:98%;
    margin:auto;
  }
}
@media screen and (max-width: 980px) {
  ul.group_danhmuc_top li .tieude a{
    font-size:14px;
  }
  #drop-menu{display: none;}
  #cssmenu > ul > li > a{padding:12px 5px;}
  .giohangbtn{
    position: absolute;
    right: 40px;
    top: 0;
  }
  .login-box{
    right: 0;
  }
  .btn-login{
    position: absolute;
    top:0;
    right:0;
    z-index:999999999;
    display: block;
    padding:0;
    background-color:#daa818;
  }
  .btn-desktop{
    display:none;
  }
  .btn-mobile{
    display: block;
    padding:13px;
  }
  #menu-container{display: }
  #cssmenu{
    display: none;
  }
  .search1{
    display: none !important;
  }
  .search{ margin-top:3px; }
 #wapper_col_left{
    display:block;
    height:100%;
  }
  .menuresponsive{display: block;}
}
@media screen and (max-width: 768px) {

  .contactFixedBot{
    display:block;
  }
  .contactFixedBot {
      position: fixed;
      bottom: 0;
      background-color: rgba(30, 113, 189, 0.90);
      width: 100%;
      line-height: 30px;
      z-index: 9999;
      text-align: center;
  }
  .contactFixedBot ul li{
    float:left;
    width: 33%;
    text-align: center;
    border-right: 1px solid #CCC;
  }
  .contactFixedBot ul li:last-child{
    border-right: none;
  }
  .contactFixedBot ul li a{
    color: #FFF;
    font-weight: bold;
    font-size: 13px;
  }
  #drop-menu{width:100%;}
  #menu-container .dropdown-menu-main{width:35%;}
  #menu-container .dropdown-menu-main li.active .popover{width:65%; left: 35%;}
  #menu-container .csshome{display:none;}
  .col_slide{width:100%;}
  #colcontent{
   width:70%;
  }
  #col_slide{
    width:100%;
  }
  #col1{width:28%;}
/* xu ly lang responsive */
  .dropdown-danglist{
    margin-bottom: 5px;
  }
  .dropdown-danglist button{
    display: block;
  }
  .dropdown-danglist .dropdown-menu{
    position: absolute;
    display: none;
  }
  .open .dropdown-menu{
    display: block;
  }
  .dropdown-danglist .dropdown-menu li{
    float: none;
    height: 25px;
  }
  .dropdown-danglist .dropdown-menu li a{
    padding: 2px 8px;
  }
/* end lang */
  .noidung img, .noidung table, .noidung iframe{
    max-width:100% !important;
    height:auto !important;
  }
  .noidung_img1{
    display:none;
  }
  .noidung_img2{
    display:block;
  }
  ul.group_danhmuc_top li{
    width:48%;
  }
  .itemsanpham{
    width:31%;
  }
  .itemsanpham .img{
    height:200px;
  }
  .group_bottom{
    width:50%;
  }

/*--------------Menu--------------*/
  #cssmenu {
    width: 100%;
  }
  #cssmenu ul {
    width: 100%;
    display: none;
  }
  #cssmenu.align-center > ul {
    text-align: left;
  }
  #cssmenu ul li {
    width: 100%;
    border-top: 1px solid rgba(120, 120, 120, 0.2);
  }
  #cssmenu ul ul li,
  #cssmenu li:hover > ul > li {
    height: auto;
  }
  #cssmenu ul li a,
  #cssmenu ul ul li a {
    width: 100%;
    border-bottom: 0;
  color:#FFF;
  }
  #cssmenu > ul > li {
    float: none;
  }
  #cssmenu ul ul li a {
    padding-left: 25px;
  }
  #cssmenu ul ul ul li a {
    padding-left: 35px;
  }
  #cssmenu ul ul li a {
    color: #dddddd;
    background: none;
  }
  #cssmenu ul ul li:hover > a,
  #cssmenu ul ul li.active > a {
    color: #ffffff;
  }
  #cssmenu ul ul,
  #cssmenu ul ul ul,
  #cssmenu.align-right ul ul {
    position: relative;
    left: 0;
    width: 100%;
    margin: 0;
    text-align: left;
  }
  #cssmenu > ul > li.has-sub > a:after,
  #cssmenu > ul > li.has-sub > a:before,
  #cssmenu ul ul > li.has-sub > a:after,
  #cssmenu ul ul > li.has-sub > a:before {
    display: none;
  }
  #cssmenu #menu-button {
    display: block;
    padding: 17px;
    color: #FFF;
    cursor: pointer;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
  }
  #cssmenu #menu-button:after {
    position: absolute;
    top: 22px;
    right: 17px;
    display: block;
    height: 4px;
    width: 20px;
    border-top: 2px solid #FFF;
    border-bottom: 2px solid #FFF;
    content: '';
  }
  #cssmenu #menu-button:before {
    position: absolute;
    top: 16px;
    right: 17px;
    display: block;
    height: 2px;
    width: 20px;
    background: #FFF;
    content: '';
  }
  #cssmenu #menu-button.menu-opened:after {
    top: 23px;
    border: 0;
    height: 2px;
    width: 15px;
    background: #ffffff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  #cssmenu #menu-button.menu-opened:before {
    top: 23px;
    background: #ffffff;
    width: 15px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  #cssmenu .submenu-button {
    position: absolute;
    z-index: 99999;
    right: 0;
    top: 0;
    display: block;
    border-left: 1px solid rgba(120, 120, 120, 0.2);
    height: 38px;
    width: 45px;
    cursor: pointer;
  }
  #cssmenu .submenu-button.submenu-opened {
    background: #262626;
  }
  #cssmenu ul ul .submenu-button {
    height: 34px;
    width: 34px;
  }
  #cssmenu .submenu-button:after {
    position: absolute;
    top: 22px;
    right: 19px;
    width: 8px;
    height: 2px;
    display: block;
    background: #dddddd;
    content: '';
  }
  #cssmenu ul ul .submenu-button:after {
    top: 15px;
    right: 13px;
  }
  #cssmenu .submenu-button.submenu-opened:after {
    background: #ffffff;
  }
  #cssmenu .submenu-button:before {
    position: absolute;
    top: 19px;
    right: 22px;
    display: block;
    width: 2px;
    height: 8px;
    background: #dddddd;
    content: '';
  }
  #cssmenu ul ul .submenu-button:before {
    top: 12px;
    right: 16px;
  }
  #cssmenu .submenu-button.submenu-opened:before {
    display: none;
  }
  .banner_item{
    display:table;
    margin:auto;
    float:none;
  }
  .search{width:90%; margin:5px;}
  .search input.txt{width:85%;}
  .topinfo{margin:5px;}
  .row_hotline p{width:47%;}
  .address_content p{width:47%;}
  #cssmenu{margin-right:0px;}
  #cssmenu > ul {
    width: 100%;
    display: none;
    height: 350px;
    overflow: auto;
  }
}
@media screen and (max-width: 640px) {
  ul.danhmuclienquan{display:none;}
  .giohangbtn{    position: absolute; right: 43px; z-index: 999999999;}
  #drop-menu{display:none;}
  #menu-container{display:none;}
  .search{margin:0 auto;float:none;}
  .topinfo{display:none;}
  .slidebanner{width:100%;}
  #colcontent{
    width:100%;
  }
  #col1{
    width:100%;
  }
  .group_tin{
    width:32%;
    float:left;
    margin:0.5%;
  }
  .group_bottom{
    width:47%;
  }
  .banner_item img{
    height:auto !important;
  }
  .cot_dssp{
    width:100%;
  }
  .cot_form{
    width:100%;
  }
}
@media screen and (max-width: 480px) {
  .nhomnutmua{
    display: table;
    width: 100%;
  }
  .nhomnutmua >div {
    width: 100%;
  }

  .nhomnutmua .inner a {
    width: calc(50% - 1px);

    font-size: 14px;

  }
  .group_btn_dathang{
    clear: both;
    margin-bottom: 10px;
    width: 100%;
  }
  .group_btn_dathang .soluongsp{
    width: 50%;
  }
  .group_btn_dathang span{
    width: 50%;
  }
  .group_btn_dathang input{
    width: 50%;
  }



  .row_hotline p{width:96%; margin-left:2%;}
  .address_content p{width:96%; margin-left:2%;}
  .banner_item{
    display: table;
    float:none;
    margin:auto;
    width:auto;
  }
  .banner_item1{
    display: none;
  }

  .cot_video2{
    width:100%;
  }
  .cot_video1{
    width:100%;
  }
  .danhmuccol ul li ul li{
    float:left;
  }
  .group_tinnoibat{
    width:100%;
  }
  .group_tinnoibat_slide{
    width:100%;
  }
  .group_tinmoi .content_tinmoi{
    width:60%;
  }
  .group_khoahoc .itemkhoahoc{
    width:48%;
  }
  .group_tin{
    width:48%;
  }
  .itemsanpham{
    width:48%;
  }
  .itemsanpham_home{
    width:98% !important;
  }
  .group_bottom{
    width:99%;
  }
  .group_bottom_menu{
    width:46%;
  }
  .sanpham_img{
    width:100%;
  }
  .sanpham_info{
    width:100%;
  }
}
@media screen and (max-width: 360px) {
  .slidebanner{
    display: none;
  }
  .itemvideo{
    width:48%;
  }
  .group_tin{
    width:48%;
  }
  ul.group_danhmuc_top li{
    width:98%;
  }
}
@media screen and (max-width: 320px) {
  .group_tin{
    width:99%;
  }
  .group_bottom{
    width:98%;
  }
  .itemsanpham{
    width:98%;
  }
}
